/* Variables */

// Global Variables

$br-avatar: #{$border_radius_avatar};
$br-em: #{$border_radius_em};
$br-button: #{$border_radius_button};
$br-select-body: #{$border_radius_select_body};
$br-select-header: #{$border_radius_select_header};
$br-input: #{$border_radius_input};
$br-auto: Max(0px, Min($br-em, calc((100vw - 100%) * 9999))) / $br-em;

// Desktop Topic Variables

$avatar-post-width: calc(60px + 1em + #{$topic-body-width} + (#{$topic-body-width-padding} * 2) + (12px * 2));
$wo-avatar-width: calc(#{$topic-body-width} + (#{$topic-body-width-padding} * 2) + (12px * 2));
$topic-post-full-width: calc(60px + 1em + #{$topic-body-width} + (#{$topic-body-width-padding} * 2) + (12px * 2) + 83px);
$posts-filter-width: calc(60px + 1em + #{$topic-body-width} + (#{$topic-body-width-padding} * 2) + (12px * 2) - 2em);

// Mobile Wrap Padding Variables

$wrap-padding: 0 10px;

/* Mixins */

// GLobal Mixins

@mixin bg-br-auto {
  background: var(--secondary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: $br-auto;
}

@mixin bg-br {
  background: var(--secondary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: $br-em;
}

@mixin fkb-focus {
  outline: none !important;
  box-shadow: 0px 0px 0px 1px var(--tertiary);
}

@mixin fkb-input {
  border-radius: $br-input;
  outline: none !important;
}

@mixin fkb-input-textarea {
  border-radius: $br-em;
  outline: none !important;
}

@mixin fkb-word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Desktop Topic Mixins

@mixin topic-elements {
  max-width: $wo-avatar-width;
  margin-left: auto;
}

// Poll Mixins

@mixin fkb-poll {
  display: flex;
  flex-flow: column;
  background: var(--hljs-bg);
  border-radius: $br-em;
}

// Keyframes

// Topics and Posts
@keyframes background-fade-topiclight {
  0% {
    background-color: var(--tertiary-medium);
  }
  100% {
    background-color: var(--secondary);
  }
}

// PMs
@keyframes background-fade-mypmpostlight {
  0% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--tertiary-low);
  }
}
@keyframes background-fade-pmpostlight {
  0% {
    background-color: var(--tertiary-medium);
  }
  100% {
    background-color: var(--secondary);
  }
}
