// Global

:root {
  --d-button-border-radius: #{$border_radius_button};
  --d-default-border-radius: #{$border_radius_em};
  --d-input-border-radius: #{$border_radius_input};
  --d-select-body-border-radius: #{$border_radius_select_body};
  --d-avatar-border-radius: #{$border_radius_avatar};
}

/* Mixins */

// GLobal Mixins

@mixin bg-br {
  background: var(--secondary);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: var(--d-default-border-radius);
}

@mixin fkb-focus {
  outline: none !important;
  box-shadow: 0px 0px 0px 1px var(--tertiary);
}

@mixin fkb-word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// Keyframes

// Topics and Posts
@keyframes background-fade-topiclight {
  0% {
    background-color: var(--tertiary-medium);
  }
  100% {
    background-color: var(--secondary);
  }
}

// PMs
@keyframes background-fade-mypmpostlight {
  0% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--tertiary-low);
  }
}
@keyframes background-fade-pmpostlight {
  0% {
    background-color: var(--tertiary-medium);
  }
  100% {
    background-color: var(--secondary);
  }
}

// New Topic banner

// Animation

@keyframes newPostUpSticky {
  0% {
    transform: translateY(-7.5em);
  }
  100% {
    transform: translateY(0);
  }
}

// Sticky

@mixin sticky-new-topic {
  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--header-offset) + 0.5em);
  animation: newPostUpSticky 0.2s ease-out;
  width: max-content;
  margin: -22px auto -22px;
}

// Alert info clickable

@mixin alert-info-clickable-desktop {
  padding: 13px 16px;
  margin-bottom: 0;
  background: var(--tertiary);
  color: var(--secondary);
  border-radius: var(--d-button-border-radius);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.25);
  transition: background 0.25s ease;
  &:hover,
  &:focus {
    background: var(--tertiary-hover);
  }
  span {
    margin: auto;
    line-height: 1.199;
  }
}

@mixin alert-info-clickable-mobile {
  padding: 0.75em 1em;
  background: var(--tertiary);
  color: var(--secondary);
  border-radius: var(--d-button-border-radius);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  &:active {
    background: var(--tertiary-hover);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.25);
    transform: scale(0.95);
    &:focus {
      @include default-focus;
      border-color: var(--tertiary-hover);
      outline-color: var(--tertiary-hover);
    }
  }
  &:focus {
    @include default-focus;
    border-color: var(--tertiary);
    outline-color: var(--tertiary);
  }
  span {
    margin: auto;
  }
}
