@import "var-mixin";

// Header buttons

body.search-page {
  .d-header-icons {
    .header-dropdown-toggle {
      &.search-dropdown {
        background-color: var(--tertiary-low);
        .d-icon {
          color: var(--tertiary);
        }
      }
    }
  }
}

// Main Outlet

#main-outlet {
  width: calc(100vw - 20px);
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

// Category header section

.category-header #main-outlet {
  padding-top: 1.25em;
}

// Category page

.category-list .category-list-item {
  margin: 0;
  &:first-child {
    margin-top: 1em;
    border-radius: $br-em 0 0 0;
  }
  &:last-child {
    margin-bottom: 2em;
    border-radius: 0 0 0 $br-em;
  }
}

// Menu Panel

.menu-panel {
  &.slide-in{
    top: var(--header-offset) !important;
    height: calc(100% - 72px) !important;
  }
}

// Global

#list-area {
  width: calc(100vw - 20px);
}

// Topic List

body:not(.categories-list) .topic-list {
  display: block;
  .topic-list-body {
    display: block;
    .topic-list-item {
      display: block;
    }
  }
  .topic-excerpt {
    width: 100%;
  }
}

.topic-list {
  .topic-list-item-separator {
    display: block;
  }
}

.topic-list-item {
  border-color: var(--tertiary-low);
}

.extra-info-wrapper h1 {
  margin: 0;
}

.categories-list .latest-activity-tlist {
  display: none;
}

// Topics

.container.posts {
  grid-template-areas: "posts";
  grid-template-columns: auto;
  > .row {
    max-width: calc(100vw - 20px);
  }
  .topic-navigation {
    grid-area: posts;
    grid-row: 2;
    width: auto;
  }
}

.post-stream {
  .topic-post {
    article {
      border: none;
      padding: 8px 0;
      &#post_1 {
        padding-top: 0;
      }
      .topic-body {
        @include bg-br-auto;
        padding: 1em;
        &.highlighted {
          animation: background-fade-topiclight 2s ease-out;
        }
      }
      .cooked .lightbox img {
        width: 100%;
      }
    }
  }
  .small-action {
    max-width: 100%;
    border-top: none;
    &.topic-post-visited {
      .topic-post-visited-line {
        margin: 1rem auto;
        max-width: 300px;
      }
    }
    .topic-avatar {
      margin: 0;
      .d-icon {
        width: 25px;
        height: 25px;
        text-align: left;
      }
    }
  }
}

.topic-avatar {
  width: 45px;
  margin: 1em 10px 1em 1em;
  .avatar {
    width: 45px;
    height: 45px;
  }
}

.posts-filtered-notice {
  max-width: 100%;
  margin: 1.5em 0;
  padding-right: 11em;
  border-radius: $br-auto;
  .filtered-replies-show-all {
    right: 1em;
  }
  .filtered-user-row {
    display: flex;
    white-space: break-spaces;
    text-align: left;
  }
}

.post-notice {
  max-width: 100%;
  border-radius: $br-auto;
  padding: 0.8em;
  margin-bottom: 16px;
  &.old {
    padding: 0.8em;
  }
}

.topic-status-info,
.topic-timer-info {
  max-width: 100%;
}

// No answer popup

.topic-navigation-outlet.no-answer {
  .topic-navigation-popup {
    background: var(--tertiary-low);
    margin-bottom: 16px;
    .close {
      float: right;
    }
  }
}

// Suggested

.suggested-topics-wrapper {
  .topic-list-item {
    border-radius: $br-auto;
  }
  .topic-list-data {
    box-sizing: border-box;
    padding: 1em;
    max-width: unset;
    display: block;
    width: 100%;
  }
}

// Topic

#topic-progress {
  border-radius: $br-em;
  overflow: hidden;
}

// Topic post controls actions

.topic-post nav.post-controls.replies-button-visible {
  margin: 0.75em 0;
}

.topic-post nav.post-controls {
  overflow: auto;
  .actions {
    button.btn-flat {
      max-width: 37px !important;
      max-height: 37px !important;
      background: var(--fkb-btn);
      justify-content: center;
      align-items: center;
      margin-right: 0.5em;
      svg:not(.d-icon-d-liked):not(.d-icon-d-unliked):not(.d-icon-check-square) {
        color: var(--primary-high);
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .double-button {
      button.button-count {
         margin-right: 0;
        + .create-flag {
          padding: 10px;
        }
      }
    }
    .extra-buttons {
      button {
        margin-right: 0.5em !important;
      }
    }
  }
}

.post-controls {
  .accepted,
  .unaccepted {
    .d-button-label {
      display: none;
    }
  }
}

// Private Messages

.archetype-private_message {
  .post-stream {
    article {
      max-width: calc(100vw - 20px);
      margin-bottom: 5px;
    }
  }
  .topic-post article {
    .topic-avatar {
      margin: 10px 10px -1em 0;
    }
    .topic-body {
      background: none;
      box-shadow: none;
      padding: 0;
      &.highlighted {
        animation: none;
      }
      .cooked {
        padding: 1.5em 1em 3.5em 1em;
      }
      .topic-meta-data {
        margin-top: 10px;
      }
    }
  }
  .gap {
    padding: 8px 10px;
    margin: 8px 0 8px auto;
    @media screen and (max-width: 600px) {
      padding: 8px 20px;
    }
  }
  .small-action .topic-avatar {
    margin: 0 11px 0 0;
  }
  .small-action-desc.timegap {
    padding: 1em;
    margin: 8px 0;
    border-radius: $br-button;
  }
  .post-menu-area {
    margin: -3.5em 1em 0 1em;
  }
}

// Tags Page

.tags-page {
  #main-outlet {
    .container.list-container {
      display: block;
    }
  }
}

// Login

.d-modal.create-account .create-account-form .login-welcome-header {
  border-radius: $br-em;
}

.signup-cta{
  width: 100%;
}

// User Navigation

.mobile-nav {
  & > li > a.expander {
    background: var(--secondary);
    border: 1px solid var(--primary-low);
    border-radius: $br-button;
  }
  .drop.expanded {
    border-radius: $br-select-body;
    margin-top: 5px;
  }
}

.list-controls .nav-pills > li,
.select-kit.combo-box .select-kit-header {
  border-radius: $br-select-header;
}

@media screen and (max-width: 600px) {
  .select-kit {
    &.combo-box {
      .select-kit-header {
        max-height: 34px;
      }
    }
  }
}

.list-controls .nav-pills .drop {
  border-radius: $br-select-body;
  margin-left: 0.25em;
}

.contents.body-page {
  .nav-pills {
    flex-flow: wrap;
  }
  section.about.stats {
    overflow: auto;
  }
}

.period-chooser-header {
  .selected-name {
    font-size: 1.25em;
  }
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header .d-icon {
  margin-top: 0;
}

body[class*="category-"]:not(.archetype-regular):not(.archetype-banner),
.navigation-topics,
.categories-list,
.tags-page {
  .container {
    &.list-container {
      + span {
        flex-basis: 0;
      }
    }
  }
}

// User

.user-main {
  width: calc(100vw - 20px);
  .about {
    margin-bottom: 20px;
    background: transparent;
    .details {
      @include bg-br-auto;
    }
    .controls {
      ul {
        li.follow-button-container div {
          width: 100%;
        }
      }
    }
  }
  .user-content-wrapper {
    grid-row-gap: 10px;
    .user-messages-inboxes-drop {
      height: 100%;
      .select-kit-header .select-kit-header-wrapper {
        padding: 0.15em;
      }
    }
    .user-content {
      .list-actions {
        flex-flow: column;
        flex: 1 0 auto;
        width: auto;
        max-width: 100%;
        .btn {
          margin-right: 0;
        }
      }
      &.user-follows-tab {
        .follow-users {
          padding: 10px;
        }
      }
    }
  }
  .staff-counters {
    display: block;
    > div {
      margin: 2px 10px 0 0;
      a {
        margin: 2px 10px 0 0;
      }
    }
  }
}


body.user-activity-page .paginated-topics-list {
  margin-top: -10px;
}

.topic-meta-data .names span a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Groups 

.groups-header {
  width: calc(100vw - 20px);
}

.group {
  width: calc(100vw - 20px);
  margin: auto;
  .user-content-wrapper {
    .user-content {
      max-width: 100%;
      min-width: auto;
    }
  }
}

// Bookmark

body.user-activity-page .bookmark-list-wrapper {
  .topic-list.bookmark-list {
    display: block;
    .topic-list-data {
      padding: 1em;
    }
    .main-link {
      width: 100%;
    }
  }
}

// Saved Search

.category-saved-searches .saved-search input[type="text"] {
  width: calc(100% / 3);
}

// Banner

.banner-box {
  .section-header {
    margin-top: -20px;
  }
}

// Navigation Topic

.navigation-topics,
.categories-list,
.tags-page,
body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
  .list-controls {
    margin-bottom: 16px;
    @if $mobile-full-width == "true" {
      @media screen and (max-width: 600px) {
        margin: -1.25em 0 16px 0;
      }
    }
    .container {
      max-width: 100%;
    }
    .category-breadcrumb.hidden {
      display: flex !important;
    }
    .nav-pills {
      .drop {
        margin-top: 5px;
        li a {
          width: calc(100% - 1em);
        }
      }
      > li {
        > a:hover,
        &.active > a,
        > a.active {
          background-color: transparent;
        }
      }
    }
    .navigation-container {
      .navigation-controls {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: 0.75em 1em 1em 1em;
        border-top: 1px solid var(--primary-low);
        .anon & {
          display: block;
          padding: 0;
          border-top: none;
        }
        @media screen and (max-width: 600px) {
          width: calc(100% - 2em);
          @if $mobile-full-width == "true" {
            width: calc(100vw - 2em);
          }
          padding: 0.75em 1em 0.5em 1em;
        }
      }
    }
  }
}

.navigation-topics {
  .list-controls {
    ol {
      li.tag-drop {
        &:not(:first-of-type) {
          display: none;
        }
      }
    }
  }
}

.select-kit {
  .category-row {
    max-width: 100%;
  }
}

.title-wrapper {
  .categories-wrapper {
    .badge-wrapper {
      font-size: var(--font-down-2);
    }
  }
}

.navigation-container {
  justify-content: space-between;
  align-content: center;
}

#navigation-bar {
  width: auto;
  flex: 1 1 auto;
  margin: var(--nav-space) 2px var(--nav-space) 2px;
  height: 39px;
  @media screen and (max-width: 600px) {
    margin: var(--nav-space) 0;
    height: 34px;
  }
  a {
    padding: 0.5em 0.65em;
    margin: 0;
    @media screen and (max-width: 600px) {
      line-height: var(--line-height-small);
    }
  }
}

ol.category-breadcrumb li {
  flex: 1 1 auto;
  width: auto;
  margin: 0;
  max-width: 100%;
  &:nth-child(2) {
    margin: 0;
  }
}

// FKB Panel

.before-create-topic-button-outlet.fkb-avatar {
  order: 1;
  margin-right: 0.5em;
}

.after-create-topic-button-outlet.fkb-stats {
  order: 3;
  width: 100%;
  margin: 0;
  @media screen and (max-height: 410px) and (orientation: landscape) {
    display: none;
  }
}

.fkb-panel-contents {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  animation: fkbPanelFadein 0.3s ease-out;
  .text-size-smallest & {
    height: 104px;
  }
  .text-size-smaller & {
    height: 110px;
  }
  .text-size-normal & {
    height: 118px;
  }
  .text-size-larger & {
    height: 131px;
  }
  .text-size-largest & {
    height: 138px;
  }
}
@keyframes fkbPanelFadein {
  0%, 99% {opacity: 0}
  100% {opacity: 1}
}

.fkb-user-names {
  display: none;
}

.fkb-panel-contents-top {
  display: flex;
  flex: 1 1 100%;
  align-items: center;
  flex-flow: row;
  padding: 0.5em 0.5em 0;
  .fkb-avatar {
    margin: 0.5em;
  }
}

.fkb-panel-contents-stats {
  display: flex;
  flex-flow: column;
  overflow-x: auto;
  overflow-y: hidden;
  .stats {
    a {
      display: inline-block;
    }
    .user-stat {
      display: inline-block;
      margin: 0.5em;
      .value {
        color: var(--primary);
        font-weight: 600;
        vertical-align: middle;
      }
      .label {
        color: var(--primary-high);
        vertical-align: middle;
        svg {
          font-size: 0.9em;
        }
        .d-icon-heart {
          color: var(--love);
        }
        .d-icon-clock {
          color: var(--primary);
        }
        .d-icon-bookmark {
          color: var(--primary);
        }
        .d-icon-check-square {
          color: var(--success);
        } 
      }
    }
  }
  .badges {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin: 0 0 0.5em;
    .user-badge {
      border-radius: $br-em;
    }
    .badge-type-1 {
      .d-icon {
        color: var(--gold);
      }
    }
    .badge-type-2 {
      .d-icon {
        color: var(--silver);
      }
    }
    .badge-type-3 {
      .d-icon {
        color: var(--bronze);
      }
    }
  }
}

.fkb-panel-contents-bottom {
  display: flex;
  position: relative;
  max-width: 100%;
  body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) & {
    max-width: calc(100% - 3em);
  }
  .tags-page & {
    max-width: calc(100% - 5.5em);
  }
  overflow-x: auto;
  margin-top: 0.25em;
  margin-left: auto;
  gap: 0.25em;
  .fkb-link {
    color: var(--primary-high);
    &:focus,
    &:hover {
      color: var(--secondary);
    }
  }
}

// Composer

#reply-control {
  height: 100%;
  .keyboard-visible &.open {
    height: 100%;
  }
  .category-input {
    .category-chooser {
      .select-kit-header {
        height: 32px;
      }
    }
  }
}

.d-editor-container {
  flex-direction: column;
}

// User Card

#user-card {
  .first-row {
    .usercard-controls {
      li {
        border-left: 0 solid transparent !important;
      }
    }
  }
  .location-and-website {
    .website-name {
      a {
        white-space: normal;
      }
    }
  }
}

// DiscoTOC

.anon {
  .d-toc-regular {
    .d-toc-toggle {
      bottom: 0px !important;
    }
  }
}

// Topic Footer

#topic-footer-buttons {
  .topic-notifications-button {
    .reason {
      align-items: center;
    }
  }
}

.timeline-container.timeline-fullscreen.show .topic-timeline .timeline-footer-controls {
  display: inline-flex;
}

// Lightbox

.lightbox-wrapper .meta {
  border-radius: 0 0 $br-em 0;
}

// Onebox

aside.onebox{
  display: flex;
  flex-flow: column;
  padding: 12px;
}

.mobile-view {
  article.onebox-body {
    padding: 12px;
    margin-bottom: auto;
  }
}

// Users input

.inline-form.full-width {
  margin-left: 0;
}

// Mobile Style Paddingless

@if $mobile-full-width == "true" {
  @media screen and (max-width: 600px) {

    // Global

    .d-header > .wrap {
      width: calc(100% - 20px);
    }
    
    #main-outlet {
      width: 100vw;
    }

    .anon #main-outlet {
      [class="container"]:nth-child(2) {
        padding: $wrap-padding;
      }
    }

    .wrap {
      padding: 0;
    }
    
    #banner {
      margin-bottom: 1.25em;
      margin-top: -1.25em;
    }

    body {
      &.archetype-private_message,
      &.badges-page,
      &.groups-page {
        #main-outlet {
          width: calc(100vw - 20px);
          margin: auto;
        }
      }
      &.user-badges-page .user-content {
        padding: $wrap-padding;
      }
    }

    .wrap.not-found-container,
    .contents.body-page,
    .container.show-badge,
    .container.unsubscribe,
    .password-reset,
    .email-login,
    .invites-show,
    .not-found,
    .page-not-found,
    .page-not-found-topics,
    .page-not-found-search {
      max-width: calc(100vw - 20px);
      padding: $wrap-padding;
    }

    .container.tags-controls {
      padding: 10px;
    }

    .tag-sort-options {
      margin-bottom: 0;
      padding: $wrap-padding;
    }

    .navigation-topics,
    .categories-list,
    .tags-page,
    body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
      .list-container .full-width {
        max-width: 100vw;
      }
    }
    
    #list-area {
      width: 100vw;
    }

    // Topic
    
    .container.posts {
      > .row {
        max-width: 100vw;
      }
    }

    #topic-title {
      padding: $wrap-padding 1em;
      .archetype-private_message & {
        padding: 0 0 1em;
      }
    }

    .gap {
      padding: 16px 0 16px 10px;
    }

    .post-stream .small-action {
      padding: $wrap-padding;
    }

    #topic-footer-buttons {
      padding: $wrap-padding;
      .archetype-private_message & {
        padding: 0;
      }
    }

    .suggested-topics .suggested-topics-title {
      padding: $wrap-padding;
      .archetype-private_message & {
        padding: 0;
      }
    }

    h3.suggested-topics-message {
      padding: $wrap-padding;
      .archetype-private_message & {
        padding: 0;
      }
    }

    .post-notice {
      margin-bottom: 0;
    }

    .topic-status-info,
    .topic-timer-info {
      margin: 10px;
    }
    
    .topic-above-footer-buttons-outlet.presence {
      .presence-users {
        padding: $wrap-padding;
        .archetype-private_message & {
          padding: 0;
        }
      }
    }

    #topic-progress-wrapper.docked {
      padding-right: 10px;
      .archetype-private_message & {
        padding-right: 0;
      }
    }

    .pm-topic-author {
      margin: 1em 0;
      padding: $wrap-padding;
      .btn {
        width: 100%;
      }
    }
    
    .placeholder-text {
      margin-left: 0;
      width: 100%;
    }
    
    .reviewable-item {
      padding: 1em 10px;
    }

    // Banner Alert

    .navigation-categories,
    .category,
    .navigation-topics {
      .alert.alert-info:not(.clickable) {
        margin: -1.25em 0 1.25em 0;
      }
    }

    // User Profile

    .user-main {
      width: 100vw;
      margin-top: -1.25em;
      .about {
        &.collapsed-info .details {
          padding: 17px 20px 7px 20px;
        }
        &.has-background {
          .user-profile-image {
            border-radius: 0;
            margin-bottom: 0;
          }
        }
      }
      .user-content-wrapper {
        .user-primary-navigation {
          padding-left: 10px;
        }
        .user-secondary-navigation {
          padding-right: 10px;
        }
        .user-additional-controls {
          padding-left: 10px;
          .user-invites-page & {
            padding-left: 0;
          }
        }
        .user-preferences.solo-preference {
          padding: $wrap-padding;
        }
        .user-content {
          .list-actions {
            padding: $wrap-padding;
          }
        }
      }
    }
    
    // Bookmark

    .bookmark-search-form {
      padding: $wrap-padding;
    }
    .bookmark-list-wrapper {
      padding: 0;
    }

    // Users section

    .directory {
      width: 100vw;
      .directory-controls {
        padding: $wrap-padding;
      }
      .total-rows {
        padding: 10px;
      }
    }

    .users-nav {
      padding: $wrap-padding;
      margin: 0 0 2em 0;
    }

    // Search

    .search-container {
      .search-header {
        margin-top: -1.25em;
        border-radius: $br-auto;
      }
      .search-advanced {
        .search-info {
          padding: 0.5rem 10px;
        }
      }
    }

    // Unread & New section

    .row {
      &.dismiss-container-top,
      &.dismiss-container-bottom {
        padding: $wrap-padding;
      }
    }

    .topic-list-bottom .footer-message h3 {
      padding: $wrap-padding;
    }

    // Top page

    .top-lists {
      padding: $wrap-padding;
    }

    // CakeDay

    .container.cakeday {
      padding: $wrap-padding;
    }
    .cakeday .nav-pills {
      margin-top: 0;
    }

    // Admin area

    .admin-area .full-width:last-child {
      max-width: 100vw;
      width: 100vw;
    }
    .admin-main-nav {
      width: 100vw;
    }
  }
}
