// FKBM - Topic List

// Topic List

.navigation-topics,
.categories-list,
body[class*="tag-"]:not(.archetype-regular):not(.archetype-banner),
body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
  .list-controls {
    z-index: z("usercard");
    .container {
      max-width: 100%;
      @include bg-br;
      padding: 1em;
      margin-bottom: 1em;
    }
    .navigation-container {
      position: relative;
      .category-breadcrumb {
        display: flex !important;
      }      
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        margin-left: -10px;
        bottom: 0;
        height: 45px;
        z-index: 1;
        background: linear-gradient(to right, rgba(var(--secondary-rgb), 1), rgba(var(--secondary-rgb), 0));
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30px;
        height: 45px;
        background: linear-gradient(to right, rgba(var(--secondary-rgb), 0), rgba(var(--secondary-rgb), 1));
      }
      // Navigation Bar
      #navigation-bar {
        width: 100%;
        flex-wrap: nowrap;
        margin-top: -0.25em;
        margin-left: -10px;
        margin-bottom: 0;
        padding: 0 0 0 10px;
        overflow-x: auto;
        &.nav-pills {
          .drop {
            margin-top: 5px;
            li a {
              width: calc(100% - 1em);
            }
          }
          > li {
            font-size: var(--font-0);
            white-space: nowrap;
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
      // Navigation Controls
      .navigation-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        bottom: 1em;
        right: 1em;
        grid-gap: 0.5em;
        margin-bottom: env(safe-area-inset-bottom);
        transition: right 0.25s ease-in;
        z-index: z("usercard");
        > *:not(:last-child) {
          margin-right: 0;
        }
        .btn {
          transition: background 0.25s;
        }
        .btn:not(#create-topic) {
          padding: 0.75em 0.817em;
          border-radius: var(--d-button-border-radius);
          background: var(--primary-low);
          .d-icon {
            color: var(--primary-high);
          }
          &:hover,
          &:focus {
            background: var(--primary-medium);
            .d-icon {
              color: var(--primary-low);
            }
          }
        }
        #create-topic {
          order: 2;
          margin-right: 0;
          padding: 1.25em;
          border-radius: var(--d-button-border-radius);
          border: none;
          background: var(--tertiary);
          font-size: var(--font-0);
          transition: transform 0.25s ease, box-shadow 0.25s ease;
          box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.25);
          .d-icon {
            width: 1.5em;
            height: 1.5em;
            margin-left: 0;
            margin-right: 0;
            color: var(--secondary);
            transition: color 0s;
          }
          .d-button-label {
            display: none;
          }
          &:active {
            background: var(--tertiary-hover);
            box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.25);
            transform: scale(0.9);
          }
          &:focus {
            background: var(--tertiary-hover);
          }
          &.open-draft {
            background: var(--primary-medium);
            .d-icon {
              color: var(--secondary);
            }
            &:active {
              background: var(--primary-high);
            }
            &:focus {
              background: var(--primary-medium);
            }
          }
        }
        .bulk-select.btn {
          display: none;
        }
      }
    }
  }
  
    // If footer nav active on iPhone
  &.footer-nav-visible:not(.footer-nav-ipad) {
    .list-controls {
      .navigation-container {
        .navigation-controls {
          bottom: calc(var(--footer-nav-height) + 1em);
        }
      }
    }
    #reply-control.draft {
      bottom: calc(-60px - var(--footer-nav-height));
    }
  }
  
  #reply-control.draft {
    bottom: -60px;
    transition: bottom 0.25s ease-in;
  }
}

body.nav-controls-hidden {
  &.navigation-topics,
  &.categories-list,
  &[class*="tag-"]:not(.archetype-regular):not(.archetype-banner),
  &[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
    .list-controls {
      .navigation-container .navigation-controls {
        right: -80px;
        transition: right 0.25s ease-in;
      }
    }
    
    // If footer nav active on iPhone
    &.footer-nav-visible:not(.footer-nav-ipad) {
      .list-controls {
        .navigation-container {
          .navigation-controls {
            bottom: calc(var(--footer-nav-height) + 1em);
            transition: right linear 0.1s;
          }
        }
      }
    }
    
    #reply-control.draft {
      bottom: 0;
    }
  }
}

// Topic List

.topic-list {
  .topic-excerpt {
    width: 100%;
  }
}

.topic-list {
  .topic-list-item-separator {
    display: block;
  }
}

.extra-info-wrapper h1 {
  margin: 0;
}
