// FKBM - Docs

// Docs

body:not(.categories-list) .docs-browse {
  .docs-topic-list {
    .topic-list {
      .main-link {
        padding: 0.5em 0;
        .link-bottom-line {
          .mobile-view & {
            padding: 0.6em 1em 0 0;
          }
        }
      }
    }
  }
}

.mobile-view .docs-expander {
  border-radius: 0;
}
