// FKBM - Sticky New Topic Banner

// Sticky New Topic Banner

#list-area {
  
  // Latest page
  
  .alert.alert-info.clickable {
    z-index: 8;
    @include sticky-new-topic;
    @include alert-info-clickable-mobile;
  }
  
  // Tag page
  
  .show-more {
    z-index: 8;
    @include sticky-new-topic;
    .alert.alert-info.clickable {
      @include alert-info-clickable-mobile;
    }
  }
  
  .top-lists {
    margin: 0 0 16px 0;
    h2 {
      margin: 8px 0;
    }
  }
}

// User message Sticky New Message Banner

.user-messages-page {
  .show-mores {
    z-index: 8;
    @include sticky-new-topic;
    .alert.alert-info.clickable {
      @include alert-info-clickable-mobile;
    }
  }
}

.list-controls,
.user-primary-navigation {
  scroll-margin-top: calc(var(--header-offset) * 2);
}
