// FKBD - Discourse Ad Plugin

// Discourse Ad Plugin - Google Adsense Support

.google-adsense {
  .google-adsense-label {
    width: 100%;
  }
  .google-adsense-content {
    width: 100% !important;
    ins.adsbygoogle {
      width: 100% !important;
      div#aswift_0_host {
        width: 100% !important;
      }
    }
  }
}
