// FKBD - Search

// Search Widget

.search-menu {
  .search-context .show-help {
    border-radius: var(--d-default-border-radius);
    line-height: var(--line-height-large);
  }
  .search-link .blurb {
    color: var(--primary);
  }
  .search-input {
    background: var(--primary-low);
    box-shadow: 0 0 0 1px var(--primary-300);
    border: 1px solid transparent;
    border-radius: var(--d-input-border-radius);
    outline: none !important;
    padding: 0.25rem 0.75rem 0.25rem 0.5rem;
    &:focus-within {
      background: var(--secondary);
    }
    input#search-term {
      border-radius: var(--d-input-border-radius);
      &:focus {
        outline: none !important;
        box-shadow: none;
        background: var(--secondary);
      }
    }
  }
  .search-random-quick-tip {
    .tip-label {
      border-radius: var(--d-button-border-radius);
      line-height: 1;
    }
  }
  .search-menu-recent {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  .results {
    .search-result-topic .second-line {
      .discourse-tags .discourse-tag {
        .d-icon {
          margin-right: 4px;
        }
      }
    }
  }
  .badge-category,
  .discourse-tag {
    .d-icon {
      color: unset;
    }
  }
}
