// FKBD - Sticky New Topic Banner

// Sticky New Topic Banner

#list-area {
  .show-more {
    z-index: 3;
    @media screen and (max-width: 1180px) {
      margin: 0 auto -22px;
      animation: none;
    }
    @include sticky-new-topic;
    .alert.alert-info.clickable {
      @include alert-info-clickable-desktop;
    }
  }
  .top-lists {
    margin: 1em;
    h2 {
      margin: 8px 0;
    }
  }
}

// User message Sticky New Message Banner

.user-messages-page {
  .show-mores {
    z-index: 3;
    @include sticky-new-topic;
    .alert.alert-info.clickable {
      @include alert-info-clickable-desktop;
    }
  }
}

.list-controls,
.user-primary-navigation {
  scroll-margin-top: calc(var(--header-offset) * 2);
}
