// FKBD - Right Sidebar Blocks

@if $right-sidebar-blocks-enabled == "true" {
  .list-container {
    
    .full-width {
      display: grid;
      grid: "tc-topic-list tc-right-sidebar";
      grid-template-columns: 1fr;
      gap: 0 2em;
      @media screen and (max-width: 1099px) {
        display: block;
      }
      
      #list-area {
        width: 100%;
        grid-area: tc-topic-list;
      }
      
      .tc-right-sidebar {   
        @if $right-sidebar-blocks-expanded == "false" {
          @include sticky;
          top: calc(var(--header-offset) + 2em);
          @include bg-br;
          padding: 1em;
          max-height: calc(100vh - 10em);
          overflow-y: auto;
        }
        
        .rs-component {
          @if $right-sidebar-blocks-expanded == "true" {
            @include bg-br;
            padding: 1em;
            
            &:last-of-type {
              @include sticky;
              top: calc(var(--header-offset) + 2em);
              overflow-y: auto;
              max-height: calc(100vh - 10em);
            }
          }
        }
        
        max-width: var(--d-sidebar-width);
        width: 100%;
        grid-area: tc-right-sidebar;
        transition: transform var(--d-sidebar-animation-time);
        body.fkb-panel-hidden & {
          animation: fkb-panel-hide var(--d-sidebar-animation-time) forwards;
          transform: translateX(100vw);
        }
        @media screen and (max-width: 1099px) {
          display: none;
        } 

        // Add custom scrollbar (borrow from sidebar)
        --scrollbarBg: transparent;
        --scrollbarThumbBg: var(--primary-low);
        --scrollbarWidth: 0.5em;
    
        scrollbar-color: transparent var(--scrollbarBg);
        transition: scrollbar-color 0.25s ease-in-out;
        transition-delay: 0.5s;
    
        &::-webkit-scrollbar {
          width: var(--scrollbarWidth);
        }
    
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border-radius: calc(var(--scrollbarWidth) / 2);
        }
    
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
    
        &:hover {
          scrollbar-color: var(--scrollbarThumbBg) var(--scrollbarBg);
    
          &::-webkit-scrollbar-thumb {
            background-color: var(--scrollbarThumbBg);
          }
    
          transition-delay: 0s;
        }
      }
    }
  }
}
