// FKBD - Right Sidebar Blocks

@if $right-sidebar-blocks-enabled == "true" {
  .list-container {
    
    .full-width {
      display: grid;
      grid: "tc-topic-list tc-right-sidebar";
      grid-template-columns: 1fr;
      gap: 0 2em;
      @media screen and (max-width: 1099px) {
        display: block;
      }
      
      #list-area {
        width: 100%;
        grid-area: tc-topic-list;
      }
      
      .tc-right-sidebar {   
        @if $right-sidebar-blocks-expanded == "false" {
          position: sticky;
          top: calc(var(--header-offset) + 2em);
          padding: 1em;
          max-height: calc(100vh - 10em);
          overflow-y: auto;
          @include bg-br;
        }
        
        .rs-component {
          @if $right-sidebar-blocks-expanded == "true" {
            padding: 1em;
            @include bg-br;
            
            &:last-of-type {
              position: sticky;
              top: calc(var(--header-offset) + 2em);
              overflow-y: auto;
              max-height: calc(100vh - 10em);
            }
          }
        }
        
        height: 100%;
        max-width: var(--d-sidebar-width);
        width: 100%;
        grid-area: tc-right-sidebar;
        transition: transform var(--d-sidebar-animation-time);
        body.fkb-panel-hidden & {
          animation: fkb-panel-hide var(--d-sidebar-animation-time) forwards;
          transform: translateX(100vw);
        }
        @media screen and (max-width: 1099px) {
          display: none;
        } 

        // Add custom scrollbar (borrow from sidebar)
        @include custom-scrollbar;
      }
    }
  }
}
