// FKBD - Chat

// Chat header icon

.header-dropdown-toggle.open-chat {
  .icon.active {
    background: var(--tertiary-low);
    border-radius: 50px;
    .d-icon-comment {
      color: var(--tertiary);
    }
    &:hover {
      background: var(--tertiary-low);
    }
  }
}
