// FKBD - Header

// Header

.d-header {
  > .wrap {
    width: 100%;
    max-width: min(
      calc((var(--d-sidebar-width) * 2) + var(--d-max-width)),
      calc(100vw - 2em)
    );
    .contents {
      margin: auto;
    }
  }
}

// Menu panel

.menu-panel.drop-down {
  border-radius: var(--d-default-border-radius);
}
