@import "var-mixin";

// FKBC - Input

// Input Rounded - Focus

input,
select,
input[type] {
  outline: none !important;
  &:focus {
    @include fkb-focus;
  }
}

textarea {
  &:focus {
    outline: none !important;
  }
}

textarea,
.d-editor-textarea-wrapper {
  border-radius: var(--d-default-border-radius);
}

.d-editor-textarea-wrapper textarea {
  border-radius: 0 0 var(--d-default-border-radius) var(--d-default-border-radius);
}

.d-editor-textarea-wrapper {
  outline: none !important;
  &.in-focus {
    @include fkb-focus;
  }
}

.d-date-input {
  .date-picker {
    outline: none !important;
    &:focus {
      @include fkb-focus;
    }
  }
}

.d-date-time-input {
  border-radius: var(--d-input-border-radius);
}

// Select Rounded - Focus

.select-kit.single-select {
  .select-kit-filter {
    border-radius: var(--d-select-body-border-radius) 0 var(--d-select-body-border-radius) 0;
    outline: none !important;
    border: none !important;
    &.is-expanded .select-kit-header:not(.btn),
    .select-kit-header:not(.btn):focus,
    .select-kit-header:not(.btn):active {
      @include fkb-focus;
    }
  }
}

.select-kit {
  .select-kit-header {
    &:not(.btn) {
      padding-left: 0.65em;
      padding-right: 0.65em;
    }
  }
  &.single-select {
    &.dropdown-select-box {
      &.is-expanded {
        .select-kit-collection,
        .select-kit-body {
          overflow: auto;
          border-radius: var(--d-select-body-border-radius);
        }
      }
    }
  }
  &.multi-select {
    outline: none !important;
    border-radius: var(--d-input-border-radius);
    .multi-select-header {
      outline: none !important;
      border-radius: var(--d-input-border-radius);
      &.is-focused,
      &:focus {
        @include fkb-focus;
      }
    }
    &.is-expanded {
      .select-kit-body {
        overflow: auto;
        border-radius: var(--d-select-body-border-radius);
      }
      .multi-select-header {
        border-radius: var(--d-input-border-radius);
      }
    }
    .choices .choice {
      border-radius: var(--d-select-body-border-radius);
    }
  }
  &.is-expanded {
    .select-kit-wrapper {
      outline: none !important;
      .multi-select-header {
        @include fkb-focus;
      }
    }
    .select-kit-header {
      @include fkb-focus;
    }
    .select-kit-body {
      overflow: auto;
      border-radius: var(--d-select-body-border-radius);
      border: 1px solid var(--primary-low);
    }
  }
  &.combo-box {
    .select-kit-header {
      outline: none !important;
      &.is-focused {
        @include fkb-focus;
      }
    }
    &.topic-footer-mobile-dropdown {
      .select-kit-collection {
        border-radius: var(--d-select-body-border-radius);
      }
    }
    &.category-drop,
    &.tag-drop {
      flex: 1 1 100%;
    }
  }
  &.is-highlighted {
    .select-kit-header {
      @include fkb-focus;
    }
  }
  &.dropdown-select-box {
    &.is-expanded {
      .select-kit-collection,
      .select-kit-body {
        overflow: auto;
        border-radius: var(--d-select-body-border-radius);
      }
    }
    &.period-chooser {
      .period-chooser-header {
        border-radius: var(--d-select-body-border-radius);
      }
      .period-chooser-row.is-selected:not(.is-highlighted) {
        color: var(--secondary);
        .top-date-string {
          color: var(--secondary) !important;
        }
      }
    }
  }
  .select-kit-row {
    &.is-highlighted {
      background: var(--tertiary-low);
    }
    &.is-selected {
      &.is-highlighted {
        background: var(--tertiary-low);
      }
    }
  }
  .select-kit-collection {
    &:hover .select-kit-row.is-highlighted:hover {
      background: var(--tertiary-low);
    }
  }
}

// Header

.d-header {
  .header-buttons {
    margin-top: 0;
  }
}

// Header buttons

.d-header-icons {
  display: flex;
  align-items: center;
  .icon {
    padding: 0.2em;
    border-bottom: 1px solid transparent;
    transition: none;
    &:hover,
    &:focus,
    &:active {
      background: transparent;
      .d-icon {
        color: var(--secondary-low);
      }
    }
    .discourse-no-touch &:hover,
    .discourse-no-touch &:focus {
      background: var(--fkb-header-btn-hover);
      border-bottom: 1px solid transparent;
      border-radius: var(--d-button-border-radius);
      .d-icon {
        color: var(--secondary-low);
      }
    }
  }
  .d-icon {
    font-size: var(--font-up-3);
    color: var(--secondary-low);
  }
  .header-dropdown-toggle {
    position: relative;
    border-radius: var(--d-button-border-radius);
    background: var(--fkb-header-btn);
    margin-left: 0.5em;
    &:hover {
      background: var(--fkb-header-btn-hover);
    }
    &.active {
      background: var(--tertiary-low);
      .d-icon {
        color: var(--tertiary);
      }
      &:hover {
        background: var(--tertiary-low);
        .d-icon {
          color: var(--tertiary);
        }
      }
    }
  }
  .badge-notification {
    &.with-icon {
      .d-icon {
        color: var(--secondary) !important;
      }
    }
  }  
  // Welcome spot
  .ring.revamped {
    top: -4px;
    right: -2px;
  }
}

// Chat header icon

.header-dropdown-toggle {
  &.chat-header-icon {
    a.icon,
    span.icon,
    .icon {
      &:hover,
      &:focus {
        background: var(--fkb-header-btn-hover);
      }
      &.active {
        background: var(--tertiary-low);
        border-radius: var(--d-button-border-radius);
        border: 1px solid transparent;
        .d-icon {
          color: var(--tertiary);
        }
        &:hover {
          background: var(--tertiary-low);
          .d-icon {
            color: var(--tertiary);
          }
        }
      }
    }
    .d-icon {
      color: var(--secondary-low);
    }
  }
}

// Notification Badges

.badge-notification {
  font-size: var(--font-down-1);
  border-radius: 25px;
  padding: 0.22em 0.42em;
}

.drop-down-mode .d-header-icons .active .icon {
  background-color: transparent;
  border-color: transparent;
  &:hover {
    border-bottom: 1px solid transparent;
  }
  &:after {
    border-color: transparent;
  }
  .d-icon {
    color: var(--tertiary);
  }
}

// Menu panel

.menu-panel {
  border: none;
  .widget-link,
  .categories-link {
    .d-icon {
      color: inherit;
    }
  }
  &.drop-down {
    border: 1px solid var(--primary-low);
    margin-top: 0.25em;
  }
  @media screen and (max-width: 1000px) {
    .desktop-view & {
      z-index: z("header") + 3;
      .panel-body {
        max-height: 100%;
      } 
    }
  }
}

// User Menu

.user-menu {
  &.revamped {
    padding: 0;
    .menu-tabs-container {
      padding: 0;
      border-left: 1px solid var(--primary-300);
      background: rgba(var(--primary-rgb), 0.02);
    }    
    .tabs-list {
      .btn {
        border-radius: 0;
        .desktop-view & {
          padding: 1em;
        }
        &:hover {
          background: var(--tertiary-400);
        }
      }
      &.bottom-tabs {
        border-top: 1px solid var(--primary-300);
      }
    }
    #quick-access-profile {
      max-height: calc(100% + 1px);
      padding: 0;
      ul {
        margin: 0;
        li {
          @media screen and (min-width: 1000px) {
            .desktop-view & {
              max-height: unset;
            }
          }
          > * {
            height: unset;
            padding: 0.5em 0.75em;
          }
        }
        .set-user-status .emoji {
          padding: 0.5em;
        }
      }
    }    
    .quick-access-panel {
      padding: 0.5em 0 0;
      max-height: calc(100% + 1px);
      ul {
        margin: -0.5em 0 0;
        li {
          border-radius: 0;
          a,
          .profile-tab-btn {
            margin: 0;
            padding: 0.5em 0.75em;
          }
          &:not(.show-all) {
            a {
              align-items: center;
            }
            .d-icon {
              width: 2em;
              height: 2em;
              padding-top: 0;
              background: rgba(var(--primary-rgb), 0.1);;
              color: var(--primary);
              border-radius: var(--d-button-border-radius);
              margin-right: 0.5em;
              > use {
                transform: scale(0.5);
                transform-origin: 1em;
              }
            }
          }
          &:hover,
          &:focus-within {
            background: var(--tertiary-400);
          }
        }
      }
    }
    .panel-body-bottom {
      padding: 0;
      margin-top: 0;
      border-top: 1px solid var(--primary-300);
      .btn {
        border-radius: 0;
        padding: 0.75em;
        background: rgba(var(--primary-rgb), 0.02);
        &:hover,
        &:focus {
          background: rgba(var(--primary-rgb), 0.06);
        }
      }
      .notifications-dismiss {
        margin-left: 0;
        border-left: 1px solid var(--primary-300);
      }
    }    
  }
}

// Spinner

.spinner {
  height: 40px;
  width: 40px;
  border: none;
  box-shadow: inset 0 1px 1px var(--tertiary);
}

// Main Outlet

.invites-show input {
  width: auto;
}

.invites-show .login-welcome-header {
  padding: 1em;
  border-radius: var(--d-default-border-radius);
}

// Topic post controls actions

.topic-post nav.post-controls {
  .actions {
    button {
      color: var(--primary-high);
      padding: 10px;
      border-radius: var(--d-button-border-radius);
      max-height: 37px;
      &.no-text {
        max-width: 37px;
      }
      &.toggle-like:not(.my-likes) {
        .d-icon {
          color: var(--love);
        }
      }
      &.delete {
        &:active,
        &:hover,
        &:focus {
          .d-icon {
            color: var(--secondary);
          }
        }
      }  
      .d-icon,
      .d-button-label {
        color: var(--primary-high);
        pointer-events: none;
      }
    }
    .double-button {
      button.my-likes,
      button.read-indicator,
      button.regular-likes {
        .d-icon {
          color: var(--primary-high);
          padding-left: 15px;
        }
      }
      &:hover,
      &:focus {
        button.button-count {
          background: transparent;
        }
      }
      button.button-count {
        padding: 10px 5px 10px 10px;
        + .toggle-like,
        + .create-flag {
          padding: 10px;
        }
        &:active,
        &:hover,
        &:focus {
          background: transparent;
        }
      }
    }
    .extra-buttons {
      .accepted {
        .d-icon,
        .d-button-label {
          color: green;
        }
      }
    }
  }
  .replies-button-visible .show-replies,
  .show-replies {
    border-radius: var(--d-button-border-radius);
    margin-right: 0.25em;
    color: var(--primary-high);
    .d-icon {
      color: var(--primary-high);
    }
    &:focus,
    &:hover {
      background: var(--primary-low);
    }
  }
}

// Reactions

.discourse-reactions-double-button {
  border-radius: var(--d-button-border-radius);
  &:hover,
  &:focus {
    background: var(--primary-low) !important;
  }
}

.discourse-reactions-counter {
  padding: 0 10px 0 0;
  .discourse-reactions-state-panel .container {
    border-radius: calc(var(--d-default-border-radius) / 2);
  }
  &.only-like .reactions-counter {
    color: var(--primary-medium);
    padding-right: 5px;
  }
}

span.highlighted {
  background-color: var(--tertiary-low-or-tertiary-high);
}

// Solved

.post-controls .extra-buttons .accepted-text {
  color: var(--primary-high);
  border-radius: var(--d-button-border-radius);
  margin-left: 3px;
  margin-right: 0.25em;
  padding: 9px 10px;
  span {
    padding: 7px 1px;
  }
}

// Global

body {
  background: var(--fkb-bg);
}

img.avatar,
.card-avatar-placeholder,
.placeholder-avatar {
  border-radius: var(--d-avatar-border-radius);
}

.tippy-box {
  border-radius: calc(var(--d-default-border-radius) / 2);
}

.btn.show-summary {
  background: var(--fkb-btn);
}

.btn-default {
  background: var(--fkb-btn);
}

.list-controls .combo-box .combo-box-header {
  background: var(--secondary);
}

.nav-pills {
  > li {
    .mobile-view & {
      border: none;
      margin-right: 0.25em;
      &:last-child {
        margin-right: 1em;
      }
    }
    > a {
      padding: 0.5em;
      margin: 0.25em;
      body.has-sidebar-page .list-controls & {
        padding: 0 0.5em;
        margin: 0 0.25em;
      }
      .mobile-view & {
        margin: 0.25em 0.5em 0.25em 0;
      }            
      border-bottom: 4px solid transparent;
      transition: color 0.25s;
      &:hover,
      &:focus {
        color: var(--tertiary);
        background-color: transparent;
        border-bottom-color: var(--tertiary-low);
      }
      &.active {
        color: var(--tertiary);
        background-color: transparent;
        border-bottom-color: var(--tertiary);
      } 
    }
    &.active {
      > a {
        background-color: transparent;
        color: var(--tertiary);
      }
    }
  }
}

// Topic List

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  color: var(--tertiary);
}

.topic-list {
  .topic-list-body {
    display: block;
    border: none;
  }
  .topic-list-item {
    display: block;
    padding: 8px 0;
    border: none;
    &:first-child {
      padding-top: 0;
    }
    &.highlighted {
      animation: none;
      .main-link {
        animation: background-fade-topiclight 2s ease-out;
      }
    }
  }
  .topic-list-item-separator {
    display: block;
    .topic-list-data {
      display: block;
      margin: 16px auto;
      border-top: 1px solid var(--tertiary);
      span {
        background: var(--tertiary);
        color: #ffffff;
        border-radius: var(--d-default-border-radius);
        vertical-align: bottom;
      }
    }
  }
  .likes,
  .views {
    width: auto;
  }
  .main-link {
    @include bg-br;
    .mobile-view & {
      width: 100%;
    }
    font-size: var(--font-up-1-rem);
    .byline {
      display: flex;
      padding: 0 1em;
      flex-direction: column;
      .topic-list-avatar {
        margin: 0 8px 0 0;
      }
      .author {
        padding: 1em 0 0.5em 0;
        margin-right: auto;
        a {
          display: flex;
          align-items: center;
          .name-and-date {
            display: flex;
            flex-direction: column;
            span:empty + span:not(:empty) {
              color: var(--primary) !important;
              font-weight: bold !important;
              font-size: var(--font-down-1) !important;
            }
            .full-name-tlist {
              font-size: var(--font-down-1);
              font-weight: bold;
              color: var(--primary);
            }
            .username {
              font-size: var(--font-down-2);
              font-weight: normal;
              color: var(--primary-high-or-secondary-low);
            }
            .list-date {
              font-size: var(--font-down-3);
              color: var(--primary-medium);
            }
          }
        }
      }
      .badge-wrapper {
        margin: 0.5em 0.5em -1em auto;
        font-size: var(--font-down-2);
        font-weight: normal;
        &.box {
          margin: 0 0.5em -1em auto;
          span {
            &.badge-category-bg,
            &.badge-category-parent-bg {
              border-radius: 0 0 0.75em 0.75em;
            }
          }
        }
        .d-icon {
          color: currentColor;
        }
      }
    }
    .link-middle-line {
      padding: 0.5em 1em 0 1em;
      .topic-statuses {
        padding: 0;
      }
      .topic-title {
        font-size: var(--font-up-3-rem);
        color: var(--tertiary);
        line-height: var(--line-height-medium);
        margin-bottom: 0.5em;
        &:hover {
          text-decoration: underline;
        }
        a.title {
          padding: 0.25em 0;
        }
      }
      .discourse-tags {
        display: flex;
        margin: 1em 0 0 0;
        a {
          display: inherit;
          flex: 1 0 auto;
          justify-content: center;
          max-width: 100%;
          line-height: var(--line-height-small);
          border: 0.5em solid transparent;
          background: var(--fkb-btn);
          font-size: var(--font-down-1-rem);
          margin: 0.25em;
          border-radius: var(--d-default-border-radius);
          &:after {
            content: '';
          }
          .tag-icon {
            > .d-icon {
              transform: scale(1.25);
              margin-right: 0.5em;
            }
          }
        }
      }
      .topic-image + .discourse-tags {
        margin-top: 1em;
      }
      .topic-image {
        height: 300px;
        @media (min-height: 790px) {
          height: 340px;
        }
        overflow-y: hidden;
        width: calc(100% + 2em);
        margin: 0.25em -1em 0 -1em;
      }
      .topic-excerpt {
        font-size: var(--font-0-rem);
        color: var(--primary);
        margin: 0 0 1em 0;
        line-height: var(--line-height-large);
        @include fkb-word-wrap;
      }
    }
    #link-middle-line-excerpt {
      .topic-title {
        margin-bottom: 0.5em;
      }
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: var(--primary-low);
        display: inline-block;
        position: relative;
      }
    }
    .link-bottom-line {
      padding: 0.6em 1em;
      a {
        font-size: var(--font-down-1);
        display: flex;
        align-items: center;
        color: var(--primary-medium);
        &.likes .d-icon {
         color: var(--love);
        }
        .d-icon {
          margin-top: -1px;
          margin-left: 0.25em;
        }
        &:empty {
          display: none;
        }
      }
      .likes-tlist {
        margin-right: 0.667em;
      }
      .latest-poster-tlist {
        margin-left: auto;
        margin-right: 0.667em;
      }
      .latest-activity-tlist {
        margin-right: 0.667em;
      }
    }
  }
}

.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
  color: var(--primary);
  font-weight: 500;
}

#navigation-bar {
  margin: var(--nav-space) 0;
}

.navigation-topics .list-controls .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
  font-size: var(--font-0);
}

.badge-wrapper.box span.badge-category-parent-bg + .badge-category-bg {
  width: calc(100% - 10px);
}

#show-tag-info {
  body:not(.has-sidebar-page) & {
    margin: 0.5em 0;
  }
  .mobile-view & {
    position: absolute;
    bottom: 1em;
    left: 3.65em;
    order: 0;
    margin-bottom: 0;
    margin-top: 0;
    @media screen and (max-width: 600px) {
      bottom: 0.5em;
    }
    @media screen and (max-height: 410px) and (orientation: landscape) {
      position: relative;
      bottom: 0;
      left: 0;
      margin-right: 0.5em;
    }
  }
}

.select-kit.topic-status-filter-dropdown {
  width: 100%;
}

#topic-entrance {
  border-radius: var(--d-default-border-radius);
  button.full {
    border-radius: var(--d-default-border-radius);
  }
}

.topic-list-item .topic-list-data:first-child,
.topic-post {
  border-left: none;
}

.row.dismiss-container-top {
  button.dismiss-read {
    width: 100%;
    margin: 0 0 16px 0;
  }
}

.row.dismiss-container-bottom {
  button.dismiss-read {
    width: 100%;
    margin: 8px 0;
  }
}

// Topic View

.timeline-container {
  .topic-timeline {
    .timeline-handle {
      background: var(--tertiary);
    }
    .timeline-scrollarea {
      border-color: var(--tertiary-medium);
    }
  }
}

.post-notice{
  border-radius: var(--d-default-border-radius);
  border-top: none;
}

.topic-map {
  border-radius: var(--d-default-border-radius);
  section {
    border-top: none;
  }
  .buttons .btn {
    border-radius: var(--d-default-border-radius);
  }
}

.topic-above-footer-buttons-outlet.presence {
  .presence-users {
    background-color: transparent;
    color: var(--primary-very-high);
    margin: 5px;
  }
}

#topic-footer-buttons {
  padding: 0;
}

.topic-list-bottom {
  margin: 0;
}

#share-link {
  border-radius: var(--d-default-border-radius);
}

.topic-status-info,
.topic-timer-info {
  border-top: none;
}

.small-action {
  .topic-avatar,
  .small-action-desc {
    border-top: none;
  }
  &.topic-post-visited {
    padding: 8px 0;
    .topic-post-visited-line {
      border-bottom: 1px solid var(--tertiary);
      line-height: 0;
      .topic-post-visited-message {
        background-color: var(--tertiary);
        color: #ffffff;
        border-radius: var(--d-default-border-radius);
      }
    }
  }
}

// No answer popup

.topic-navigation-outlet.no-answer {
  .topic-navigation-popup {
    border-radius: var(--d-default-border-radius);
    padding: 1em;
    p {
      margin-bottom: 0;
    }
  }
}

// Suggested

.suggested-topics {
  .suggested-topics-title {
    font-size: var(--font-up-4);
    font-weight: normal;
  }
  h3 .badge-wrapper.box span {
    display: inline-flex;
  }
}

// Private Messages

.archetype-private_message {
  .current-user-post {
    .topic-body {
      .cooked {
        background: var(--tertiary-low) !important;
      }
      &.highlighted {
        .cooked {
          animation: background-fade-mypmpostlight 2s ease-out !important;
        }
      }
    }
  }
  .topic-body {
    background: none;
    box-shadow: none;
    .cooked {
      background: var(--secondary);
    }
    &.highlighted {
      .cooked {
        animation: background-fade-pmpostlight 2s ease-out !important;
      }
    }
    .topic-meta-data {
      padding: 0 22px 0.25em 0px;
    }
  }
}

// Category

body[class*="category-"] {
  &:not(.archetype-regular) {
    &:not(.archetype-banner) {
      .list-controls {
        .category-navigation {
          max-width: 100%;
        }
        ol {
          max-width: 100%;
          li.category-drop {
            max-width: 100%;
          }
        }
      }
    }
  }
}

// Category page

.categories-and-latest,
.categories-and-top {
  div.column {
    min-width: 100%;
    &.categories {
      margin-right: 0;
    }
    margin: 0 auto;
    .latest-topic-list,
    .top-topic-list {
      @include bg-br;
      .topic-stats {
        display: none;
      }
    }
  }
}

.navigation-categories {
  .category-list {
    margin-bottom: 16px;
    @include bg-br;
    &.with-topics {
      margin-left: 0;
    }
    thead {
      display: none;
    }
    tbody {
      border-top: none;
      .category {
        border-left: none;
        h3 {
          padding-left: 0.5em;
          border-left: 6px solid var(--category-color);
        }
      }
      .topic-list-item,
      tr {
        &:last-child {
          border-bottom: none;
        }
      }
      .latest {
        padding: 0 10px 10px 10px;
      }
    }
    .topics {
      padding-right: 10px;
    }
  }
}

// Category boxes

.category-boxes,
.category-boxes-with-topics {
  margin-top: 0;
  margin-bottom: 0;
  .category-box {
    width: 100%;
    .mobile-view & {
      width: calc(100vw - 20px);
    }
    margin: 0 0 16px 0;
    background: var(--secondary);
    border-radius: var(--d-default-border-radius);
    border: 2px solid var(--category-color);;
    .category-box-inner {
      border: none;
    }
  }
}

// Category Page View

.category-read-only-banner {
  min-width: calc(80vw - 16px);
  text-align: center;
  background: var(--highlight-low);
  color: var(--primary);
}

// Banner

.alert.alert-info {
  background: var(--tertiary-500);
  border-radius: var(--d-default-border-radius);
}

#banner {
  background: var(--tertiary-low);
  border-radius: var(--d-default-border-radius);
  .lightbox-wrapper,
  .lightbox-wrapper a.lightbox,
  .lightbox-wrapper img {
    border-radius: var(--d-default-border-radius);
    max-width: 100%;
    height: auto;
  }
}

.navigation-topics,
.navigation-categories,
.category {
  .alert.alert-info {
    box-sizing: border-box;
    margin: 0 auto 1em;
  }
}

// Tags Page

section.tag-info {
  @include bg-br;
  margin: 0 0 16px 0;
  border: none;
}

// Tags

.tag-list {
  margin-top: 0;
}

.discourse-tags {
  display: inline-block;
}

// Buttons

.quote-button {
  &.visible {
    border-radius: var(--d-default-border-radius);
  }
  .btn {
    box-shadow: none !important;
  }
}

// Quote

aside.quote {
  .title {
    border-left: 5px solid var(--tertiary);
    border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
    overflow: hidden;
  }
  blockquote {
    border-left: 5px solid var(--tertiary);
  }
  .title + blockquote {
    border-left: 5px solid var(--tertiary);
    border-radius: 0 0 var(--d-default-border-radius) var(--d-default-border-radius);
  }
}

.quote-controls {
  color: var(--tertiary);
  .d-icon {
    color: var(--tertiary);
  }
}

blockquote {
  border-left: 5px solid var(--tertiary);
  border-radius: var(--d-default-border-radius);
}

// Solved Quote

aside.quote.accepted-answer {
  > .title {
    padding: 12px;
    background: green;
    border: 3px solid green;
    color: #fff;
    border-bottom: 0;
    .fa.accepted {
      color: #fff;
    }
    span.by {
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    a {
      color: #fff;
      text-decoration: underline;
    }
    .quote-controls .d-icon {
      color: #fff;
    }
  }
  > blockquote {
    border: 3px solid green;
  }
}

// Badges

.user-badge,
.user-card .badge-section .more-user-badges a {
  border-radius: var(--d-default-border-radius);
}

.badge-wrapper.bullet {
  .badge-category-parent-bg {
    width: 9px;
    margin-right: 2px;
    border-radius: 50%;
    + .badge-category-bg {
      width: 9px;
    }
  }
  .badge-category-bg {
    border-radius: 50%;
  }
}

.badge-wrapper.box {
  height: max-content;
  span {
    padding: 0 0.15em;
    vertical-align: middle;
    line-height: var(--line-height-medium);
    svg {
      width: 0.8em !important;
      height: 0.8em !important;
    }
  }
  span.badge-category-bg,
  span.badge-category-parent-bg {
    border-radius: var(--d-default-border-radius);
  }
}

p.favorite-count {
  margin: 0 0 20px 0;
}

.extra-info-wrapper {
  .topic-statuses {
    .d-icon {
      color: var(--header_primary);
    }
  }
  .badge-wrapper.bar {
    span.badge-category {
      color: var(--header_primary);
    }
  }
  .badge-wrapper .d-icon {
    color: currentColor;
  }
  .topic-header-extra .discourse-tags {
    a {
      color: var(--header_primary) !important;
    }
  }
}

.extra-info h1 {
  font-size: 1.5em;
}

.badge-card {
  @include bg-br;
  .grant-count {
    top: 0.5em;
    right: 0.75em;
  }
  .check-display {
    left: 0.75em;
    top: 0.75em;
  }
  .favorite-btn {
    box-shadow: 0px 0px 0px 1px var(--primary-low);
    border-radius: var(--d-default-border-radius);
  }
}

.show-badge-details .badge-set-title {
  @include bg-br;
  .user-content {
    box-shadow: none;
  }
}

// User

.name-and-date .username,
h2.username,
.names .username a {
  &:before {
    content: '@';
  }
}

.user-main {
  .about {
    border-radius: var(--d-default-border-radius);
    .details {
      @include bg-br;
      padding: 1em;
      border: none;
    }
    .secondary {
      padding: 0.5em;
      width: auto;
      border: 1px solid var(--primary-low);
      border-radius: var(--d-default-border-radius);
      margin-top: 0.25em;
    }
    &.collapsed-info {
      .details {
        background: var(--secondary);
        padding: 1em;
        border: none;
      }
    }
    &.has-background {
      .details {
        padding: 15px;
      }
      .user-profile-image {
        border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
        margin-bottom: -15px;
      }
      .staff-counters {
        margin-bottom: 10px;
      }
    }
    .staff-counters {
      border-radius: var(--d-default-border-radius);
    }
  }
}

.users-map-container {
  width: 100%;
}

.topic-statuses {
  .topic-status {
    .d-icon-far-check-square {
      color: #008000;
    }
  }
}

.user-content {
  padding: 1em;
  @include bg-br;
  .user-notifications-filter {
    border-bottom: none;
  }
}

body {
  &.user-activity-page,
  &.user-notifications-page,
  &.user-badges-page,
  &.user-messages-page,
  &.user-follow-page {
    .user-content {
      background: transparent;
      padding: 0;
      box-shadow: none;
      border-radius: unset;
    }
  }
}

.user-stream {
  .item,
  .user-stream-item {
    @include bg-br;
    margin-bottom: 0.5em;
    .excerpt {
      img:not(.thumbnail):not(.site-icon):not(.avatar):not(.emoji):not(.ytp-thumbnail-image) {
        border-radius: var(--d-default-border-radius);
        max-width: 100%;
        height: auto;
      }
    }
  }
}

.uploaded-image-preview {
  border-radius: var(--d-default-border-radius);
}

// Warning when mailing list mode on

.user-preferences {
  .warning {
    width: auto;
    border-radius: var(--d-default-border-radius);
  }
}

// User Card

.user-card.show,
.group-card.show,
.user-card.no-bg,
.group-card.no-bg {
  border-radius: var(--d-default-border-radius);
  .card-content {
    border-radius: var(--d-default-border-radius);
    border: 1px solid var(--primary-low);
  }
}

.user-card,
.group-card {
  h3 {
    padding: 0.25em 0.5em;
  }
}

#user-card {
  .metadata {
    margin-left: -0.25em;
    > * {
      display: inline-flex;
      border-radius: var(--d-default-border-radius);
      margin: 0.25em;
      border: 1px solid var(--primary-low-mid);
      &:empty {
        display: none;
      }
    }
    span {
      order: 0;
      &.desc {
        padding-right: 5px;
      }
    }
    div span.desc {
      padding-right: 0;
    }
    h3:nth-child(3) {
      span:nth-child(2) {
        padding-left: 5px;
      }
    }
    .last-seen-metadata {
      order: -1;
    }
  }
}

.follow-button-container {
  button {
    background: var(--fkb-btn);
  }
}

.follow-statistics-user-card h3 {
  color: var(--primary-high);
  .value {
    color: var(--primary);
  }
  &:nth-child(2) {
    &:before {
      content: "I";
      margin-left: -0.5em;
      margin-right: 0.5em;
    }
  }
}

.location-and-website.map-location-enabled {
  .user-location-widget {
    align-items: center;
    .d-icon-map-marker-alt {
      margin-top: 0;
      background: var(--fkb-btn);
      width: 2em;
      height: 2em;
      border-radius: var(--d-button-border-radius);
      > use {
        transform: scale(0.5);
        transform-origin: center;
      }
    }
  }
  .replace-location {
    .location,
    .website-name,
    .user-profile-website {
      display: flex !important;
      align-items: center;
      margin: 0.5em 0;
      .d-icon-globe {
        background: var(--fkb-btn);
        width: 2em;
        height: 2em;
        border-radius: var(--d-button-border-radius);
        margin-right: 5px;
        > use {
          transform: scale(0.5);
          transform-origin: center;
        }
      }
    }
  }
}

// Group

.groups-boxes {
  .group-box {
    @include bg-br;
  }
}

.directory {
  .directory-table {
    .groups-table {
      margin-top: 1em;
      @include bg-br;
    }
  }
  .me {
    .username a,
    .name,
    .title,
    .number,
    .time-read {
      color: var(--tertiary);
    }
  }
}

// Bookmark

body.user-activity-page .bookmark-list-wrapper {
  .topic-list.bookmark-list {
    display: table;
    .topic-list-body {
      display: table-row-group;
      .bookmark-list-item {
        display: table-row;
        background: var(--secondary);
        border-bottom: 1px solid var(--primary-low);
        .main-link {
          background: none;
          box-shadow: none;
          border-radius: 0;
          padding: 1em;
          .link-bottom-line {
            padding: 0.6em 0;
          }
        }
      }
    }
  }
}

// Composer

#reply-control {
  #reply-title {
    div.ac-wrap {
      border-radius: var(--d-default-border-radius);
    }
    &:focus {
      @include fkb-focus;
    }
  }
}

.grippie {
  border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
}

#reply-control {
  border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
  #reply-title {
    div.ac-wrap {
      border-radius: var(--d-default-border-radius);
    }
  }
}

.d-editor-button-bar {
  .select-kit {
    &.single-select {
      .select-kit-header {
        .btn {
          &:focus,
          &:active {
            box-shadow: none;
          }
        }
      }
    }
    &.is-expanded {
      .select-kit-header {
        box-shadow: none;
      }
    }
  }
  button {
    &.bold {
      font-weight: bold;
    }
    &.italic {
      font-style: italic;
    }
  }
}

.group-details-container,
.tag-list {
  @include bg-br;
  padding: 1em;
  margin-bottom: 1em;
}

div.education {
  @include bg-br;
  padding: 1em;
  border: none;
}

// Search

.search-menu {
  .search-link {
    border-radius: var(--d-default-border-radius);
  }
  .search-result-topic,
  .search-result-post {
    .search-link {
      border-radius: var(--d-default-border-radius);
    }
  }
}

.search-container {
  .search-header {
    border-radius: var(--d-default-border-radius);
  }
  .search-advanced {
    .search-info {
      background-color: transparent;
    }
  }
}

.search-results {
  box-sizing: border-box;
}

.fps-result {
  @include bg-br;
  padding: 1em 1em 1em 0.7em;
  margin-bottom: 1em;
  .topic {
    .bulk-select {
      border-radius: var(--d-default-border-radius) 0;
      left: 0;
      top: 0;
    }
  }
}

.fps-invalid {
  border-radius: var(--d-default-border-radius);
}

// Admin

.admin-controls .nav-pills > li a.active {
  background: transparent;
}

.boxed.white {
  padding: 1em;
  box-sizing: border-box;
  @include bg-br;
}

// Fast edit

button.save-fast-edit {
  background: var(--tertiary);
}

// Modal
// Modal Global

.bootbox.modal,
.dialog-content {
  border-radius: var(--d-default-border-radius);
  outline: 0;
}

.modal-inner-container {
  border-radius: var(--d-default-border-radius);
}

.modal.has-tabs {
  .modal-tabs {
    .modal-tab {
      border-radius: var(--d-default-border-radius);
    }
  }
}

// Modal Login

.login-modal:not(.hidden),
.create-account,
.invites-show {
  #login-form,
  .login-form,
  .invite-form {
    .input-group input {
      border-radius: var(--d-input-border-radius);
    }
  }
}

.login-modal:not(.hidden) #login-form {
  .input-group {
    width: 100%;
  }
  #second-factor input {
    border-radius: var(--d-input-border-radius);
  }
}

.login-modal,
.d-modal.create-account .modal-body {
  border-radius: var(--d-default-border-radius);
}

.d-modal {
  &.create-account,
  &.login-modal {
    #modal-alert {
      border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
      margin: 0;
      .desktop-view & {
        position: absolute;
        padding: 0.75em 3.5em 0.75em 1em;
      }
    }
    .modal-body {
      &.has-alt-auth {
        border-radius: var(--d-default-border-radius);
      }
    }
  }
}

.login-modal:not(.hidden) .login-left-side {
  border-radius: var(--d-default-border-radius);
}

// Activate account page

#simple-container {
  background-color: transparent;
  @media screen and (max-width: 600px) {
    width: auto;
  }
  // Account page
  .account-created {
    .ac-page {
      background-color: var(--secondary);
      .col-form {
        .mobile-view & {
          padding: 0.5em;
        }
        .activation-controls {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        }
      }
    }
  }
  // Activation page
  .activate-account {
    .perform-activation {
      background-color: var(--secondary);
    }
  }
}

// Modal Invite & Share & Bookmark

.invites-show {
  #modal-alert {
    border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
    margin: 0;
  }
  // Invite page
  .invite-form,
  .invite-success {
    background-color: var(--secondary);
  }
}

// Share Panel and Invite inputs

.link-share-container {
  input {
    &:focus+button {
      outline: none;
      box-shadow: 0px 0px 0px 1px var(--tertiary);
    }
  }
}

.link-share-actions .alt-actions {
  width: 100%;
  button {
    width: 100%;
  }
}

.bookmark-with-reminder.modal .modal-body {
  width: 100%;
}

// Popup

.popup-tip {
  border-radius: var(--d-default-border-radius);
}

// Onebox

aside.onebox,
blockquote aside.onebox {
  border: 1px solid var(--tertiary);
  background: var(--tertiary-very-low);
  border-radius: var(--d-default-border-radius);
}

// Lightbox

.cooked,
.d-editor-preview {
  img:not(.thumbnail):not(.site-icon):not(.avatar):not(.emoji):not(.ytp-thumbnail-image) {
    border-radius: var(--d-default-border-radius);
  }
}

.discourse-no-touch {
  a.lightbox {
    border-radius: var(--d-default-border-radius);
    &:hover {
      border-radius: var(--d-default-border-radius);
    }
  }
}

.modal.history-modal {
  img {
    max-width: 100%;
    border-radius: var(--d-default-border-radius);
  }
  .revision-content,
  .markdown {
    img {
      border-radius: var(--d-default-border-radius);
    }
  }
}

// Youtube-thumb

.ytp-thumbnail-image {
  height: 100% !important;
}

.lazyYT-container {
  border-radius: var(--d-default-border-radius);
}

// Video

.onebox.video-onebox,
.video-container {
  background: #000;
  border-radius: var(--d-default-border-radius);
  video {
    border-radius: var(--d-default-border-radius);
  }
}

// GIF

.pausable-animated-image>canvas {
  border-radius: var(--d-default-border-radius);
}

.gif-modal .gif-no-results {
  justify-content: center;
}

// Poll

.poll-ui-builder {
  .poll-options .poll-option-value button {
    margin-bottom: 9px;
  }
  .poll-type .poll-type-value {
    padding: 6px;
    border-radius: var(--d-button-border-radius);
  }
}

.input-group.poll-date {
  .d-date-time-input {
    border-radius: var(--d-input-border-radius);
  }
}

.poll {
  border-radius: var(--d-default-border-radius);
}

// FKBC - Chat

html.has-full-page-chat {
  #main-outlet {
    .full-page-chat {
      background: var(--secondary);
    }
  }
}

.dc-filter-input-container,
.channel-members-view__search-input-container {
  border-radius: var(--d-input-border-radius);
  &.is-focused {
    @include fkb-focus;
  }
}

input.channel-members-view__search-input,
.dc-filter-input-container .dc-filter-input {
  &:focus {
    box-shadow: none !important;
  }
}

// Panel

.chat-message-separator {
  &.new-message {
    .divider {
      background: var(--tertiary);
    }
    .text {
      background: var(--tertiary);
      color: var(--secondary);
      border-radius: var(--d-default-border-radius);
    }
  }
}

.chat-retention-reminder {
  border-radius: var(--d-default-border-radius);
}

.chat-emoji-picker {
  border-radius: var(--d-default-border-radius);
  .chat-emoji-picker__filter.dc-filter-input-container {
    border-radius: var(--d-default-border-radius);
  }
}

.chat-live-pane .chat-scroll-to-bottom {
  &.unread-messages {
    border-radius: var(--d-default-border-radius);
    color: var(--secondary);
  }
  &:hover,
  &:focus {
    .d-icon {
      color: var(--secondary);
    }
  }
  .d-icon {
    color: var(--secondary);
    &:hover,
    &:focus {
      color: var(--secondary);
    }
  }
}

// Chat onebox

.chat-message aside.onebox {
  border: 1px solid var(--tertiary);
  background: var(--tertiary-very-low);
  border-radius: var(--d-default-border-radius);
  &.category-onebox {
    border: none;
  }
}

.chat-onebox .chat-onebox-body .chat-onebox-members {
  gap: 0.25em;
  flex-wrap: wrap;
  .avatar {
    max-width: 80%;
  }
}

// Chat message container

.chat-message-container {
  .chat-message {
    &.chat-message-bookmarked {
      background: transparent;
      .chat-message-text {
        background-color: var(--tertiary-low);
        box-shadow: 0px 0px 0px 1px var(--tertiary);
      }
    }
    &.deleted {
      background: transparent;
      .chat-message-text {
        background-color: var(--danger-low);
      }
    }
  }
  &.highlighted {
    .chat-message {
      background-color: transparent !important;
      .chat-message-text {
        background-color: var(--tertiary-low);
        box-shadow: 0px 0px 0px 1px var(--tertiary);
      }
    }
  }
}

.chat-transcript:not(.chat-transcript-chained) {
  border-radius: var(--d-default-border-radius);
}

.chat-message-info__bookmark,
.chat-message-left-gutter__bookmark {
  .d-icon-discourse-bookmark-clock,
  .d-icon-bookmark {
    color: var(--tertiary);
  }
}

// Chat message hover

.chat-message-container.is-hovered,
.is-hovered.chat-transcript,
.chat-message.chat-message-selected {
  background: transparent;
  .chat-message {
    .chat-message-text {
      box-shadow: 0px 0px 0px 1px var(--primary-low-mid);
    }
  }
}

.not-mobile-device .chat-messages-container .chat-message:hover,
.chat-messages-container .chat-message.chat-message-selected {
  background: transparent;
  .chat-message {
    .chat-message-text {
      box-shadow: 0px 0px 0px 1px var(--primary-low-mid);
    }
  }
}

// Chat message

.chat-message {
  &:not(.user-info-hidden) {
    .desktop-view & {
      padding: 0.5em 1em 0.25em;
    }
    .mobile-view & {
      padding: 0.5em 0.5em 0.25em 0.75em;
    }
    .chat-message-content {
      .chat-message-info {
        margin-bottom: 0.25em;
      }
      .chat-message-text {
        border-top-left-radius: 0;
        border-top-right-radius: var(--d-default-border-radius);
        border-bottom-left-radius: var(--d-default-border-radius);
        border-bottom-right-radius: var(--d-default-border-radius);
      }
    }
  }
  &.user-info-hidden {
    padding: 0.25em 1em;
    .mobile-view & {
      padding: 0.25em 0.5em 0.25em 0.75em;
    }
    .chat-message-content {
      .chat-message-text {
        border-radius: var(--d-default-border-radius);
      }
    }
  }
  .chat-message-content {
    .chat-message-text {
      max-width: calc(100% - 3em);
      background: var(--primary-low);
      padding: 5px 15px 5px 10px;
      width: max-content;
      p img:not(.emoji) {
        width: unset;
        max-height: 150px;
      }
      a.mention {
        background: var(--primary-300);
        &.highlighted {
          background: var(--tertiary-500);
        }
      }
      img:not(.thumbnail):not(.site-icon):not(.avatar):not(.emoji):not(.ytp-thumbnail-image) {
        border-radius: calc(var(--d-default-border-radius) * 0.75);
      }
      .chat-transcript {
        background-color: rgba(var(--primary-rgb),0.04);
        border-left: 3px solid var(--tertiary);
        &.chat-transcript-chained {
          &:first-child {
            border-top-left-radius: var(--d-default-border-radius);
            border-top-right-radius: var(--d-default-border-radius);
          }
          &:last-child {
            border-bottom-left-radius: var(--d-default-border-radius);
            border-bottom-right-radius: var(--d-default-border-radius);
          }
        }
      }
    }
  }
  .chat-message-collapser .chat-message-collapser-header {
    + div .chat-message-collapser-youtube {
      max-width: 100%;
    }
  }
  // Reactions
  .chat-message-reaction {
    border-radius: var(--d-default-border-radius);
    border: 1px solid var(--primary-300);
    &:not(.reacted):hover {
      background: var(--primary-300);
      border-color: var(--primary-300);
    }
  }
}
.chat-reply {
  max-width: calc(100% - 3em);
}

// Chat composer

.chat-composer {
  border-radius: var(--d-input-border-radius);
  .chat-composer-input {
    line-height: var(--line-height-large);
  }
  .send-btn {
    border-radius: var(--d-button-border-radius);
  }
}

.chat-composer-toolbar {
  z-index: 1;
}

.direct-message-creator {
  .selected-user {
    border-radius: var(--d-input-border-radius);
  }
  .results .user {
    border-radius: var(--d-input-border-radius);
  }
}

// FKBC - Docs

.docs:not(.nav-item_docs) {
  background: var(--secondary);
  padding: 0.5em;
  border-radius: var(--d-default-border-radius);
  margin-bottom: 2em;
  .topic-list {
    .topic-list-body {
      display: table-row-group;
    }
    .topic-list-item {
      display: table-row;
      border-bottom: 1px solid var(--primary-low);
    }
    .main-link {
      background: none;
      box-shadow: none;
      border-radius: 0;
      .link-bottom-line {
        padding: 0;
        font-size: var(--font-0);
      }
    }
  }
  .topic-avatar {
    margin: 0 10px 0 0;
  }
  .topic-body {
    background: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 0;
  }
}

.docs-search {
  border-radius: var(--d-default-border-radius);
}

// FKBC - User Status

.user-status-picker-wrap .user-status-picker {
  border-radius: var(--d-input-border-radius);
  .btn-emoji {
    border-radius: var(--d-button-border-radius);    
  }
  .user-status-description {
    box-shadow: none;
  }
  &.focused {
    @include fkb-focus;
  }
}

.user-card {
  h3.user-status {
    padding: 0.25em 0;
  }
}
