// FKBC - Chat

html.has-full-page-chat {
  #main-outlet {
    .full-page-chat {
      background: var(--secondary);
    }
  }
}

.dc-filter-input-container,
.channel-members-view__search-input-container {
  border-radius: var(--d-input-border-radius);
  &.is-focused {
    @include fkb-focus;
  }
}

input.channel-members-view__search-input,
.dc-filter-input-container .dc-filter-input {
  &:focus {
    box-shadow: none !important;
  }
}
