// FKBC - Badges

// Badges

.user-badge,
.user-card .badge-section .more-user-badges a {
  border-radius: var(--d-default-border-radius);
}

.badge-wrapper.bullet {
  .badge-category-parent-bg {
    width: 9px;
    margin-right: 2px;
    border-radius: 50%;
    + .badge-category-bg {
      width: 9px;
    }
  }
  .badge-category-bg {
    border-radius: 50%;
  }
}

.badge-wrapper.box {
  height: max-content;
  span {
    padding: 0 0.15em;
    vertical-align: middle;
    line-height: var(--line-height-medium);
    svg {
      width: 0.8em !important;
      height: 0.8em !important;
    }
  }
  span.badge-category-bg,
  span.badge-category-parent-bg {
    border-radius: var(--d-default-border-radius);
  }
}

p.favorite-count {
  margin: 0 0 20px 0;
}

.extra-info-wrapper {
  .topic-statuses {
    .d-icon {
      color: var(--header_primary);
    }
  }
  .badge-wrapper.bar {
    span.badge-category {
      color: var(--header_primary);
    }
  }
  .badge-wrapper .d-icon {
    color: currentColor;
  }
  .topic-header-extra .discourse-tags {
    a {
      color: var(--header_primary) !important;
    }
  }
}

.badge-card {
  @include bg-br;
  .favorite-btn {
    box-shadow: 0px 0px 0px 1px var(--primary-low);
    border-radius: var(--d-default-border-radius);
  }
}

.show-badge-details .badge-set-title {
  @include bg-br;
  .user-content {
    box-shadow: none;
  }
}
