// FKBC - Input

// Input Rounded - Focus

input,
select,
input[type] {
  outline: none !important;
  &:focus {
    @include fkb-focus;
  }
}

textarea {
  &:focus {
    outline: none !important;
  }
}

textarea,
.d-editor-textarea-wrapper {
  border-radius: var(--d-default-border-radius);
}

.d-editor-textarea-wrapper textarea {
  border-radius: 0 0 var(--d-default-border-radius) var(--d-default-border-radius);
}

.d-editor-textarea-wrapper {
  outline: none !important;
  &.in-focus {
    @include fkb-focus;
  }
}

.d-date-input {
  .date-picker {
    outline: none !important;
    &:focus {
      @include fkb-focus;
    }
  }
}

.d-date-time-input {
  border-radius: var(--d-input-border-radius);
}

// Select Rounded - Focus

.select-kit.single-select {
  .select-kit-filter {
    border-radius: var(--d-select-body-border-radius) 0 var(--d-select-body-border-radius) 0;
    outline: none !important;
    border: none !important;
    &.is-expanded .select-kit-header:not(.btn),
    .select-kit-header:not(.btn):focus,
    .select-kit-header:not(.btn):active {
      @include fkb-focus;
    }
  }
}

.select-kit {
  .select-kit-header {
    &:not(.btn) {
      padding-left: 0.65em;
      padding-right: 0.65em;
    }
  }
  &.single-select {
    &.dropdown-select-box {
      &.is-expanded {
        .select-kit-collection,
        .select-kit-body {
          overflow: auto;
          border-radius: var(--d-select-body-border-radius);
        }
      }
    }
  }
  &.multi-select {
    outline: none !important;
    border-radius: var(--d-input-border-radius);
    .multi-select-header {
      outline: none !important;
      border-radius: var(--d-input-border-radius);
      &.is-focused,
      &:focus {
        @include fkb-focus;
      }
    }
    &.is-expanded {
      .select-kit-body {
        overflow: auto;
        border-radius: var(--d-select-body-border-radius);
      }
      .multi-select-header {
        border-radius: var(--d-input-border-radius);
      }
    }
    .choices .choice {
      border-radius: var(--d-select-body-border-radius);
    }
  }
  &.is-expanded {
    .select-kit-wrapper {
      outline: none !important;
      .multi-select-header {
        @include fkb-focus;
      }
    }
    .select-kit-header {
      @include fkb-focus;
    }
    .select-kit-body {
      overflow: auto;
      border-radius: var(--d-select-body-border-radius);
      border: 1px solid var(--primary-low);
    }
  }
  &.combo-box {
    .select-kit-header {
      outline: none !important;
      &.is-focused {
        @include fkb-focus;
      }
    }
    &.topic-footer-mobile-dropdown {
      .select-kit-collection {
        border-radius: var(--d-select-body-border-radius);
      }
    }
    &.category-drop,
    &.tag-drop {
      flex: 1 1 100%;
    }
  }
  &.is-highlighted {
    .select-kit-header {
      @include fkb-focus;
    }
  }
  &.dropdown-select-box {
    &.is-expanded {
      .select-kit-collection,
      .select-kit-body {
        overflow: auto;
        border-radius: var(--d-select-body-border-radius);
      }
    }
    &.period-chooser {
      .period-chooser-header {
        border-radius: var(--d-select-body-border-radius);
      }
      .period-chooser-row.is-selected:not(.is-highlighted) {
        color: var(--secondary);
        .top-date-string {
          color: var(--secondary) !important;
        }
      }
    }
  }
  .select-kit-row {
    &.is-highlighted {
      background: var(--tertiary-low);
    }
    &.is-selected {
      &.is-highlighted {
        background: var(--tertiary-low);
      }
    }
  }
  .select-kit-collection {
    &:hover .select-kit-row.is-highlighted:hover {
      background: var(--tertiary-low);
    }
  }
}
