// VC - Search

.search-menu {
  .search-input {
    input.search-term__input:focus {
      box-shadow: none;
    }
  }
}

.search-menu-panel {
  .search-menu-container {
    .search-input-wrapper {
      padding: 0.75em 1rem;
    }
  }
}

.search-container {
  .search-header {
    @include bg-br;
  }
  .search-filters {
    background: transparent;
    .search-advanced-filters {
      background: transparent;
    }
  }
}

.search-results {
  box-sizing: border-box;
}

.fps-invalid {
  border-radius: var(--d-default-border-radius);
}

// Search link selection

.modal {
  .modal-body.insert-link {
    .inputs {
      .internal-link-results {
        width: 100%;
        padding: 0;
        border-radius: var(--d-select-body-border-radius);
        > .search-link {
          padding: 0.5em;
          border-bottom: none;
          .search-category {
            display: block;
          }
        }
      }
    }
  }
}

// AI Search

.semantic-search__container {
  border-radius: var(--d-default-border-radius);
}
