@import "var-mixin";

// FKBD - Global

:root {
  --d-sidebar-width: 20em;
  @media screen and (max-width: 1250px) {
    --d-sidebar-width: 18em;
  }
  --d-sidebar-row-font-size: var(--font-0);
  
  // Desktop topic variables
  --avatar-post-width: calc(60px + 1em + var(--topic-body-width) + (var(--topic-body-width-padding) * 2) + (12px * 2));
  --wo-avatar-width: calc(var(--topic-body-width) + (var(--topic-body-width-padding) * 2) + (12px * 2));
  --topic-post-full-width: calc(60px + 1em + var(--topic-body-width) + (var(--topic-body-width-padding) * 2) + (12px * 2) + 83px);
  --posts-filter-width: calc(60px + 1em + var(--topic-body-width) + (var(--topic-body-width-padding) * 2) + (12px * 2) - 2em);
}

// Desktop Topic Mixins

@mixin topic-elements {
  max-width: var(--wo-avatar-width);
  margin-left: auto;
}

#main-outlet-wrapper {
  padding: 0 1em;
}

// FKBD - Header

.d-header {
  > .wrap {
    max-width: calc(var(--d-sidebar-width) + var(--d-max-width));
    .contents {
      margin: auto;
    }
  }
}

// FKBD - Sidebar

.header-sidebar-toggle button {
  margin-right: 0.5em;
  .d-icon {
    font-size: var(--font-up-3);
    color: var(--secondary-low);
  }
}

body.has-sidebar-page {
  #main-outlet-wrapper {
    padding-left: 1em;    
    .sidebar-wrapper {
      padding: 0;
      background: var(--secondary);
      .sidebar-footer-wrapper {
        .sidebar-footer-container {
          background: var(--primary-low);
        }
      }
    }
  }
  &.has-full-page-chat {
    #main-outlet-wrapper {
      gap: 0 2em;
      @media screen and (max-width: 1100px) {
        gap: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .hamburger-panel {
    .menu-panel {
      .panel-body {
        max-height: calc(100vh - 0.5em);
        .sidebar-footer-wrapper {
          .sidebar-footer-actions {
            padding: 0.5em 0;
          }
        }
      }
    }
    .header-cloak {
      z-index: z("header") + 2;
    }
  }
}

// FKBD - Topic List

.navigation-topics,
.categories-list,
body[class*="tag-"]:not(.archetype-regular):not(.archetype-banner),
body[class*="category-"]:not(.archetype-regular):not(.archetype-banner) {
  
  // If sidebar opened
  
  &.has-sidebar-page {  
    #main-outlet {
      grid-template-areas:
        "alerts alerts"
        "pins pins"
        "nav nav"
        "loader fkb-panel"
        "topic-list fkb-panel";
      grid-template-columns: 1fr auto;
      grid-template-rows: auto auto auto auto 1fr;
    }    
    .list-controls {
      grid-area: nav;
      @include bg-br;
      margin-bottom: 1.5em;
      + .loading-container {
        grid-area: loader;
        margin: 0 auto;
      }
      .category-breadcrumb {
        margin: var(--nav-space) 0 var(--nav-space) var(--nav-space);
      }     
      #navigation-bar {
        margin: var(--nav-space) auto var(--nav-space) var(--nav-space);
      }     
      .navigation-controls {
        margin: var(--nav-space);        
        #create-topic {
          color: var(--secondary);
          border: 2px solid var(--tertiary);
          background: var(--tertiary);
          border-radius: var(--d-button-border-radius);
          transition: background 0.25s ease-out;
          .d-icon {
            color: var(--secondary);
          }
          &:hover,
          &:focus {
            background: var(--tertiary-hover);
            border: 2px solid var(--tertiary-hover);
          }
          &.open-draft {
            background: var(--primary-medium);
            border: 2px solid var(--primary-medium);
            &:focus,
            &:hover {
              background: var(--primary-high);
              border: 2px solid var(--primary-high);
            }
          }
        }
      }   
    }
  }
  
  #main-outlet-wrapper {  
    &.wrap {
      max-width: calc(var(--d-sidebar-width) + var(--d-max-width));
    }
  }
  
  // If sidebar closed
  
  #main-outlet {
    display: grid;
    @media screen and (max-width: 800px) {
      display: block;
    }
    grid-template-areas:
      "alerts alerts alerts"
      "pins pins pins"
      "nav loader fkb-panel"
      "nav topic-list fkb-panel";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto 1fr;
    gap: 0 2em;
    @media screen and (max-width: 1100px) {
      gap: 0;
    }
  }
  .container:first-of-type {
    grid-area: alerts;
  }
  .container:nth-of-type(2),
  .tag-info {
    grid-area: pins;
  }
  .list-container + span {
    .fkb-panel-sidebar,
    .fkb-panel {
      display: block;
      @media screen and (max-width: 1099px) {
        display: none;
      }
    }
    @media screen and (max-width: 1099px) {
      display: none;
    }
  }
  .category-breadcrumb {
    .badge-wrapper.bullet .badge-category-parent-bg,
    .badge-wrapper.bullet .badge-category-bg {
      width: 10px;
      height: 10px;
    }
    .select-kit.combo-box.category-drop .select-kit-row .badge-wrapper.box {
      font-size: var(--font-down-1);
      font-weight: normal;
      padding: 4px 6px;
    }
  }
  .list-container {
    grid-area: topic-list;
    @media (max-width: 1099px) {
      padding: 0;
    }
    + span {
      grid-area: fkb-panel;
      max-width: var(--d-sidebar-width);
    }
  }
  &:not(.has-sidebar-page) .list-controls {
    z-index: 100;
    grid-area: nav;
    max-width: var(--d-sidebar-width);
    @media screen and (max-width: 1100px) {
      margin-right: 2em;
    }
    @media screen and (max-width: 800px) {
      margin-right: 0;
      margin-bottom: 1em;
      max-width: 100%;
    }
    + .loading-container {
      grid-area: loader;
      margin: 0 auto;
    }
    .category-heading {
      display: none;
      p {
        font-size: 1.2157em;
      }
    }
    .container {
      position: -webkit-sticky;
      position: sticky;
      top: 5.5em;
      .mobile-view & {
        top: 5em;
      }
      max-height: calc(100vh - 6em);
      max-width: 100%;
      #create-topic {
        display: flex;
        flex: 1 1 auto;
        justify-content: flex-start;
        order: 5;
        width: 100%;
        height: 45px;
        color: var(--secondary);
        border: 2px solid var(--tertiary);
        background: var(--tertiary);
        border-radius: var(--d-button-border-radius);
        transition: background 0.25s ease-out;
        .d-icon {
          width: 1em;
          height: 1em;
          color: var(--secondary);
          margin-right: 0.5em;
          margin-left: 0.25em;
        }
        .mobile-view & {
          order: 2;
          width: auto;
          height: 40px;
          align-self: center;
          margin: 0;
        }
        &:hover,
        &:focus {
          background: var(--tertiary-hover);
          border: 2px solid var(--tertiary-hover);
        }
        &.open-draft {
          background: var(--primary-medium);
          border: 2px solid var(--primary-medium);
          &:focus,
          &:hover {
            background: var(--primary-high);
            border: 2px solid var(--primary-high);
          }
        }
      }
    }
    .notifications-button {
      order: 7;
      margin-top: 0.5em;
      .mobile-view & {
        bottom: 1em;
        position: absolute;
        order: 0;
        margin-top: 0;
        margin-right: 0.5em;
        @media screen and (max-width: 600px) {
          bottom: 0.5em;
        }
        @media screen and (max-height: 410px) and (orientation: landscape) {
          position: relative;
          bottom: 0;
        } 
      }
      button {
        height: 2em;
      }
    }
    .nav-pills {
      flex-direction: column;
      @media screen and (max-width: 1100px) {
        flex-direction: row;
      }
      padding: 0 1em;
    }
    .select-kit.combo-box.category-drop {
      .select-kit-row {
        .badge-wrapper {
          font-weight: normal;
          font-size: var(--font-down-1);
        }
        .topic-count {
          font-size: var(--font-down-1);
        }
      }
    }
    .category-breadcrumb {
      @media screen and (min-width: 601px) {
        font-size: var(--font-up-1);
      }
    }
    .category-navigation,
    .navigation-container {
      @include bg-br;
      ol {
        padding: 1em 1em 0 1em;
        margin: 0;
        @media screen and (max-width: 800px) {
          margin: 0 0 var(--nav-space) 0;
        }
      }
      .select-kit .select-kit-header .caret-icon {
        &:before {
          content: "\f0d7";
        }
      }
      .navigation-controls {
        display: block;
        width: 100%;
        margin-bottom: 0;
        padding: 0 1em 1em 1em;
        @media screen and (max-width: 800px) {
          padding: 1em;
        }
        button.edit-category {
          margin-bottom: 0.5em;
          .mobile-view & {
            margin-bottom: 0;
            margin-right: 0.25em;
          }
        }
      }
    }
  }
}

.full-width {
  #list-area {
    max-width: calc(var(--d-sidebar-width) * 2 + 6em + 2em);
    @media screen and (max-width: 1100px) {
      max-width: 100%;
    }
    @media screen and (max-width: 800px) {
      width: calc(100vw - 20px);
    }
  }
}

// Menu panel

.menu-panel {
  border-radius: var(--d-default-border-radius);
  @media screen and (max-width: 1100px) {
    border-radius: 0;
  }
}

// Search Widget

.search-menu {
  input[type="text"] {
    box-shadow: none;
  }
  .search-context .show-help {
    border-radius: var(--d-default-border-radius);
    line-height: var(--line-height-large);
  }
  .search-link {
    &:focus,
    &:hover {
      background: var(--highlight-low);
    }
  }
  .search-input {
    background: var(--fkb-panel);
    border: 1px solid transparent;
    border-radius: var(--d-input-border-radius);
    &:focus {
      background: var(--secondary);
    }
    &:focus-within {
      outline: none;
      border-radius: var(--d-input-border-radius);
      box-shadow: 0px 0px 0px 1px var(--tertiary);
    }
    input#search-term {
      background: var(--fkb-panel);
      &:focus {
        background: var(--secondary);
      }
    }
  }
  .search-menu-recent {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
  .results {
    .search-result-topic .second-line {
      .discourse-tags .discourse-tag {
        .d-icon {
          margin-right: 4px;
        }
      }
    }
    .search-random-quick-tip {
      .tip-label.tip-clickable {
        border-radius: 4px;
      }
    }
  }
}

// FKB Panel

.fkb-panel-sidebar {
  display: none;
  top: 5.5em;
  position: sticky;
  max-height: calc(100vh - 6em);
  max-width: var(--d-sidebar-width);
  @include bg-br;
  .fkb-panel {
    display: none;
    margin-bottom: 0.5em;
    color: var(--primary-high);
    .visitor {
      display: none;
    }
    .anon & {
      padding: 1em;
      .visitor {
        display: block;
        h2 {
          margin-left: 0;
        }
        img {
          max-width: 100%;
          height: auto;
          border-radius: var(--d-default-border-radius);
        }
        button {
          display: block;
          margin-top: 1em;
        }
      }
    }
    .fkb-panel-top {
      border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
      background: var(--secondary);
      background-size: cover;
      background-position: center;
      margin: 0 auto;
    }
    .fkb-panel-contents {
      border-radius: var(--d-default-border-radius) var(--d-default-border-radius) 0 0;
      background: rgba(var(--secondary-rgb), 0.85);
    }
    .fkb-panel-contents-top {
      display: flex;
      flex: 1 1 100%;
      align-items: center;
      flex-flow: row;
      padding: 0.5em 0.5em 0;
      .fkb-avatar {
        margin: 0.5em;
        div {
          display: flex;
          align-items: center;
        }
        .fkb-user-names {
          display: flex;
          flex-flow: column;
          padding-left: 0.5em;
          max-width: 180px;
          .fkb-name {
            font-size: var(--font-up-1);
            font-weight: bold;
            color: var(--primary-high);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .fkb-username {
            font-size: var(--font-0);
            font-weight: normal;
            color: var(--primary-high);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:before {
              content: '@';
            }
          }
          span:empty+span:not(:empty) {
            font-size: var(--font-up-1);
            font-weight: bold;
            color: var(--primary-high);
          }
        }
      }
    }
    .fkb-panel-contents-stats {
      display: flex;
      flex-flow: column;
      padding: 0 0.5em 0.5em;
      .stats {
        a {
          display: inline-block;
        }
        .user-stat {
          display: inline-block;
          margin: 0.25em;
          .value {
            color: var(--primary);
            font-weight: 600;
            vertical-align: middle;
          }
          .label {
            color: var(--primary-high);
            vertical-align: middle;
            svg {
              font-size: 0.9em;
            }
            .d-icon-heart {
              color: var(--love);
            }
            .d-icon-clock {
              color: var(--primary);
            }
            .d-icon-bookmark {
              color: var(--primary);
            }
            .d-icon-check-square {
              color: var(--success);
            } 
          }
        }
      }
      .badges {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        gap: 0.25em;
        .user-badge {
          border-radius: var(--d-default-border-radius);
        }
        .badge-type-1 {
          .d-icon {
            color: var(--gold);
          }
        }
        .badge-type-2 {
          .d-icon {
            color: var(--silver);
          }
        }
        .badge-type-3 {
          .d-icon {
            color: var(--bronze);
          }
        }
      }
    }
    .fkb-panel-contents-bottom {
      display: flex;
      flex-wrap: wrap;
      grid-auto-flow: column;
      position: relative;
      padding: 0.5em;
      gap: 0.5em;
      .fkb-link {
        color: var(--primary-high);
        &:hover,
        &:focus {
          color: var(--secondary);
        }
      }
    }
    h2 {
      font-size: var(--font-up-2);
      font-weight: 600;
      margin-bottom: 10px;
      margin-left: 0.5em;
      line-height: var(--line-height-medium);
    }
    h3 {
      font-size: var(--font-0);
    }
    .reads {
      display: flex;
      align-items: center;
      margin-bottom: 0.25em;
      .d-icon {
        margin-right: 0.25em;
        font-size: 0.9em;
      }
    }
  }
}

// FKBD - Topic View

.container.posts {
  > .row {
    max-width: var(--avatar-post-width);
  }
}

// For responsive topic-body
.topic-post {
  article {
    .row {
      display: flex;
      padding: 8px 0;
    }
    &#post_1 {
      .row {
        &:first-of-type {
          padding-top: 0;
        }
      }
    }
  }
  &.sticky-avatar {
    .topic-avatar {
      height: 100%;
    }
  }
}

.topic-body {
  width: calc(690px + (11px * 2));
  @include bg-br;
  padding: 12px;
  margin-left: 1em;
  border-top: none;
  &.highlighted {
    animation: background-fade-topiclight 2s ease-out;
  }
  @media screen and (max-width: 834px) {
    width: 100%;
  }
}

.embedded-posts {
  &.top {
    .row {
      padding: 0;
      .topic-avatar {
        border-top: none;
      }
      .topic-body {
        box-shadow: none;
        padding: 12px 0 0 0;
        margin-left: 0;
        border-top: none;
      }
    }
  }
  &.bottom {
    .row {
      padding: 0;
      .topic-body {
        box-shadow: none;
        padding: 12px 0 0 0;
        margin-left: 0;
        border-radius: 0;
      }
    }
  }
  .collapse-down,
  .collapse-up {
    padding: 10px;
  }
}

.topic-map {
  margin: 20px 11px;
}

.archetype-private_message {
  .topic-body {
    width: var(--wo-avatar-width);
    margin-left: 0;
    padding: 12px 0 12px 12px;
  }
  .small-action.topic-post-visited {
    max-width: var(--avatar-post-width);
  }
  .posts-filtered-notice {
    max-width: var(--avatar-post-width);
  }
  .gap {
    padding: 8px 0;
    margin: 8px 0 8px auto;
  }
  .small-action-desc.timegap {
    padding: 1em;
    border-radius: var(--d-button-border-radius);
    margin: 8px 0 8px -8px;
  }
}

.topic-avatar {
  width: 60px;
  border: none;
}

.placeholder-avatar {
  width: 60px;
  height: 60px;
}

.topic-list .topic-list-item-separator td span {
  background: #e9ebee;
}

.small-action {
  border-top: none;
  max-width: var(--avatar-post-width);
  margin-left: auto;
  .topic-avatar {
    width: 60px;
  }
  .small-action-desc {
    margin-left: 1em;
  }
  &.topic-post-visited {
    @include topic-elements;
  }
}

.gap {
  @include topic-elements;
  padding-left: 9px;
}

.time-gap {
  .small-action {
    .small-action-desc {
      background: transparent;
      border: none;
    }
    .topic-avatar {
      display: none;
    }
  }
}

.posts-filtered-notice {
  @include topic-elements;
  padding: 1em 0;
  border-radius: var(--d-default-border-radius);
}

#topic-footer-buttons {
  max-width: var(--avatar-post-width);
}

.topic-area > .loading-container {
  width: var(--topic-post-full-width);
  @media screen and (max-width: 924px) {
    width: 100%;
  } 
}

.topic-status-info,
.topic-timer-info {
  max-width: var(--avatar-post-width);
}

.create-invite-modal,
.create-invite-bulk-modal,
.share-topic-modal {
  &.modal {
    .modal-body {
      margin: 0;
      padding: 1em;
    }
  }
}

#suggested-topics .topic-list .main-link {
  max-width: var(--avatar-post-width);
}

.read-state {
  right: 10px;
}

.tag-drop-row {
  font-weight: normal !important;
  font-size: 0.875em;
}

.topic-above-footer-buttons-outlet.presence {
  .presence-users {
    background: transparent;
    margin-bottom: 1em;
  }
}

// Category Banner

div[class^="category-title-header"] {
  .category-title-contents {
    padding: 20px;
    overflow-y: auto;
    max-width: 100%;
  }
}

// User

.user-table {
  padding: 1em;
  background: var(--secondary);
  box-sizing: border-box;
  border-radius: var(--d-default-border-radius);
}

.user-card,
.group-card {
  z-index: z("header");
}

.user-card {
  .first-row {
    .user-card-avatar {
      margin-top: 0px;
    }
  }
}

.user-main {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
  .about {
    .secondary {
      padding: 0;
    }
  }
}

.user-content .list-actions {
  margin-bottom: 0;
}

.user-content-wrapper .user-additional-controls button {
  margin: 0.5em 0.75em;
}

// Bookmark

body.user-activity-page .bookmark-list-wrapper {
  .topic-list {
    table-layout: auto !important;
    .main-link {
      display: block;
      .link-bottom-line a {
        display: inline-block;
      }
    }
  }
}

// Lightbox

.lightbox-wrapper .meta {
  border-radius: 0 0 var(--d-default-border-radius) var(--d-default-border-radius);
}

// Composer
#reply-control {
  .category-input {
    .category-chooser {
      .select-kit-header {
        height: 34px;
      }
    }
  }
  .select-kit.multi-select .multi-select-header {
    height: 34px;
  }
}

// Signup CTA

.signup-cta {
  margin: 1em 0 !important;
  max-width: var(--avatar-post-width);
  width: 100%;
}

// FKBD - Emoji

.emoji-picker {
  border-radius: var(--d-default-border-radius);
}

// FKBD - Chat

// Chat header icon

.header-dropdown-toggle.open-chat {
  .icon.active {
    background: var(--tertiary-low);
    border-radius: 50px;
    .d-icon-comment {
      color: var(--tertiary);
    }
    &:hover {
      background: var(--tertiary-low);
    }
  }
}

// Chat full page

.full-page-chat {
  .chat-channels .chat-channel-row {
    border-radius: calc(var(--d-default-border-radius) * 2);
    padding: 0 0.25rem 0 0.5rem;
  }
  .chat-tabs {
    overflow: auto;
  }
}

// Chat onebox

.has-full-page-chat .chat-message .onebox:not(img),
.chat-drawer-container .chat-message .onebox {
  border-width: 1px;
}

.chat-drawer-container {
  .chat-message aside.onebox {
    border: 1px solid var(--tertiary);
    background: var(--tertiary-very-low);
    border-radius: var(--d-default-border-radius);
    &.category-onebox {
      border: none;
    }
    p {
      display: block;
    }
  } 
}

// Chat message hover

.has-full-page-chat:not(.discourse-sidebar) {
  .full-page-chat {
    .chat-message:not(.highlighted):not(.deleted):not(.chat-message-bookmarked):hover {
      background: transparent;
      .chat-message-text {
        box-shadow: 0px 0px 0px 1px var(--primary-low-mid);
      }
    }
  }
}
